In [1]:
!pip install deepctr-torch

Requirement already satisfied: deepctr-torch in /Users/vldpro/Workspace/university/recsys/DeepCTR-Torch (0.2.5)
Requirement already satisfied: torch>=1.1.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from deepctr-torch) (1.7.1)
Requirement already satisfied: tqdm in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from deepctr-torch) (4.56.0)
Requirement already satisfied: sklearn in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from deepctr-torch) (0.0)
Requirement already satisfied: tensorflow in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from deepctr-torch) (2.4.1)
Requirement already satisfied: numpy in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from torch>=1.1.0->deepctr-torch) (1.19.5)
Requirement already satisfied: typing-extensions in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from torch>=1.1.0->deepctr-torch) (3.7.4.3)
Requirement already satisfied: scikit-learn in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from sklearn->deepctr-torch) (0.23.2)
Requirement already satisfied: joblib>=0.11 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from scikit-learn->sklearn->deepctr-torch) (1.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from scikit-learn->sklearn->deepctr-torch) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from scikit-learn->sklearn->deepctr-torch) (1.5.4)
Requirement already satisfied: six~=1.15.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (1.15.0)
Requirement already satisfied: flatbuffers~=1.12.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (1.12)
Requirement already satisfied: protobuf>=3.9.2 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (3.15.2)
Requirement already satisfied: absl-py~=0.10 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (0.11.0)
Requirement already satisfied: gast==0.3.3 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (0.3.3)
Requirement already satisfied: h5py~=2.10.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (2.10.0)
Requirement already satisfied: tensorflow-estimator<2.5.0,>=2.4.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (2.4.0)
Requirement already satisfied: wheel~=0.35 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (0.36.2)
Requirement already satisfied: astunparse~=1.6.3 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (1.6.3)
Requirement already satisfied: opt-einsum~=3.3.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (3.3.0)
Requirement already satisfied: termcolor~=1.1.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (1.1.0)
Requirement already satisfied: tensorboard~=2.4 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (2.4.1)
Requirement already satisfied: grpcio~=1.32.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (1.32.0)
Requirement already satisfied: google-pasta~=0.2 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (0.2.0)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (1.1.2)
Requirement already satisfied: wrapt~=1.12.1 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorflow->deepctr-torch) (1.12.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->deepctr-torch) (1.27.0)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->deepctr-torch) (2.25.1)
Requirement already satisfied: setuptools>=41.0.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->deepctr-torch) (51.0.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->deepctr-torch) (0.4.2)
Requirement already satisfied: markdown>=2.6.8 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->deepctr-torch) (3.3.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->deepctr-torch) (1.8.0)
Requirement already satisfied: werkzeug>=0.11.15 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->deepctr-torch) (1.0.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->deepctr-torch) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->deepctr-torch) (4.2.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->deepctr-torch) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow->deepctr-torch) (1.3.0)
Requirement already satisfied: importlib-metadata in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard~=2.4->tensorflow->deepctr-torch) (3.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->deepctr-torch) (0.4.8)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->deepctr-torch) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->deepctr-torch) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->deepctr-torch) (1.26.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->deepctr-torch) (2020.12.5)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow->deepctr-torch) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from importlib-metadata->markdown>=2.6.8->tensorboard~=2.4->tensorflow->deepctr-torch) (3.4.0)

In [48]:
import pandas as pd
import torch
from sklearn.metrics import log_loss, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

from deepctr_torch.inputs import SparseFeat, DenseFeat, get_feature_names

data = pd.read_csv('../data/restaurant_data_reformatted/synthetic_data.csv')
data.head()

,Unnamed: 0,rating,food_rating,service_rating,smoker,drink_level,dress_preference,ambience,transport,marital_status,...,Soup_y,Southern_y,Southwestern_y,Spanish_y,Steaks_y,Sushi_y,Thai_y,Turkish_y,Vegetarian_y,Vietnamese_y
0,0,1,1,2,False,social drinker,formal,family,public,single,...,0,0,0,0,0,0,0,0,0,0
1,1,1,2,1,False,social drinker,elegant,family,public,single,...,0,0,0,0,0,0,0,0,0,0
2,2,2,1,1,False,social drinker,elegant,family,public,single,...,0,0,0,0,0,0,0,0,0,0
3,3,2,1,2,False,social drinker,elegant,family,car owner,single,...,0,0,0,0,0,0,0,0,0,0
4,4,2,1,1,False,social drinker,elegant,family,public,single,...,0,0,0,0,0,0,0,0,0,0

In [50]:
list(data.dtypes)

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('bool'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64')]

In [5]:
data = data.drop(["food_rating", "service_rating"], axis=1)

In [6]:
sparse_features = [
    col for col in data.columns if col not in [
        "rating", "food_rating", "service_rating", "weight", "height"
    ]
]
dense_features = ["weight", "height"]

data[sparse_features] = data[sparse_features].fillna('-1', )
data[dense_features] = data[dense_features].fillna(0, )
target = ['rating']

In [7]:
for feat in sparse_features:
    lbe = LabelEncoder()
    data[feat] = lbe.fit_transform(data[feat])

In [8]:
mms = MinMaxScaler(feature_range=(0,1))
data[dense_features] = mms.fit_transform(data[dense_features])

In [9]:
sparse_feature_columns = [
    SparseFeat(feat, vocabulary_size=data[feat].nunique(),embedding_dim=4) 
    for i,feat in enumerate(sparse_features)
]

dense_feature_columns = [DenseFeat(feat, 1,) for feat in dense_features]

In [10]:
dnn_feature_columns = sparse_feature_columns + dense_feature_columns
linear_feature_columns = sparse_feature_columns + dense_feature_columns

feature_names = get_feature_names(linear_feature_columns + dnn_feature_columns)

In [11]:
from deepctr_torch.models import DeepFM
from torch.nn.functional import cross_entropy

train, test = train_test_split(data, test_size=0.2)
train_model_input = {name:train[name] for name in feature_names}

test_model_input = {name:test[name] for name in feature_names}


device = 'cpu'

model = DeepFM(linear_feature_columns,dnn_feature_columns,task='multiclass',device=device)
model.compile("adam", "mse",
              metrics=['mse'], )

history = model.fit(train_model_input,train[target].values,batch_size=256,epochs=10,verbose=2,validation_split=0.2)
pred_ans = model.predict(test_model_input, batch_size=256)

cpu
Train on 64000 samples, validate on 16000 samples, 250 steps per epoch
Epoch 1/10
104s - loss:  0.6891 - mse:  0.6891 - val_mse:  0.6491
Epoch 2/10
131s - loss:  0.4996 - mse:  0.4996 - val_mse:  0.6472
Epoch 3/10
118s - loss:  0.2246 - mse:  0.2246 - val_mse:  0.6608
Epoch 4/10
95s - loss:  0.0901 - mse:  0.0901 - val_mse:  0.6461
Epoch 5/10
92s - loss:  0.0602 - mse:  0.0602 - val_mse:  0.6455
Epoch 6/10
109s - loss:  0.0363 - mse:  0.0363 - val_mse:  0.6464
Epoch 7/10
94s - loss:  0.0196 - mse:  0.0196 - val_mse:  0.6523
Epoch 8/10
93s - loss:  0.0100 - mse:  0.0100 - val_mse:  0.6480
Epoch 9/10
93s - loss:  0.0063 - mse:  0.0063 - val_mse:  0.6496
Epoch 10/10
94s - loss:  0.0045 - mse:  0.0045 - val_mse:  0.6494

In [51]:
test_model_input

{'Unnamed: 0': 32827    32827
 58330    58330
 78953    78953
 90339    90339
 55069    55069
          ...
 36981    36981
 45096    45096
 42171    42171
 64108    64108
 18351    18351
 Name: Unnamed: 0, Length: 20000, dtype: int64,
 'smoker': 32827    1
 58330    0
 78953    0
 90339    1
 55069    0
         ..
 36981    0
 45096    0
 42171    1
 64108    0
 18351    1
 Name: smoker, Length: 20000, dtype: int64,
 'drink_level': 32827    2
 58330    2
 78953    1
 90339    2
 55069    0
         ..
 36981    1
 45096    2
 42171    2
 64108    2
 18351    2
 Name: drink_level, Length: 20000, dtype: int64,
 'dress_preference': 32827    1
 58330    0
 78953    2
 90339    0
 55069    0
         ..
 36981    0
 45096    3
 42171    2
 64108    3
 18351    0
 Name: dress_preference, Length: 20000, dtype: int64,
 'ambience': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: ambience, Length: 20000, dtype: int64,
 'transport': 32827    2
 58330    0
 78953    2
 90339    0
 55069    2
         ..
 36981    2
 45096    2
 42171    2
 64108    2
 18351    2
 Name: transport, Length: 20000, dtype: int64,
 'marital_status': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: marital_status, Length: 20000, dtype: int64,
 'hijos': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: hijos, Length: 20000, dtype: int64,
 'birth_year': 32827    60
 58330    45
 78953    46
 90339    59
 55069    42
          ..
 36981    41
 45096    54
 42171    55
 64108    61
 18351    56
 Name: birth_year, Length: 20000, dtype: int64,
 'interest': 32827    4
 58330    1
 78953    4
 90339    4
 55069    1
         ..
 36981    1
 45096    1
 42171    4
 64108    4
 18351    4
 Name: interest, Length: 20000, dtype: int64,
 'personality': 32827    3
 58330    1
 78953    3
 90339    3
 55069    1
         ..
 36981    1
 45096    1
 42171    0
 64108    3
 18351    3
 Name: personality, Length: 20000, dtype: int64,
 'religion': 32827    0
 58330    0
 78953    1
 90339    0
 55069    1
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: religion, Length: 20000, dtype: int64,
 'activity': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: activity, Length: 20000, dtype: int64,
 'color': 32827    5
 58330    7
 78953    7
 90339    7
 55069    5
         ..
 36981    3
 45096    5
 42171    5
 64108    7
 18351    5
 Name: color, Length: 20000, dtype: int64,
 'budget': 32827    2
 58330    1
 78953    2
 90339    2
 55069    2
         ..
 36981    2
 45096    2
 42171    2
 64108    2
 18351    2
 Name: budget, Length: 20000, dtype: int64,
 'Afghan_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Afghan_x, Length: 20000, dtype: int64,
 'African_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: African_x, Length: 20000, dtype: int64,
 'American_x': 32827    1
 58330    2
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: American_x, Length: 20000, dtype: int64,
 'Armenian_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Armenian_x, Length: 20000, dtype: int64,
 'Asian_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Asian_x, Length: 20000, dtype: int64,
 'Australian': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Australian, Length: 20000, dtype: int64,
 'Austrian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Austrian, Length: 20000, dtype: int64,
 'Bagels_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Bagels_x, Length: 20000, dtype: int64,
 'Bakery_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Bakery_x, Length: 20000, dtype: int64,
 'Bar_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Bar_x, Length: 20000, dtype: int64,
 'Bar_Pub_Brewery_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Bar_Pub_Brewery_x, Length: 20000, dtype: int64,
 'Barbecue_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Barbecue_x, Length: 20000, dtype: int64,
 'Basque': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Basque, Length: 20000, dtype: int64,
 'Brazilian_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Brazilian_x, Length: 20000, dtype: int64,
 'Breakfast-Brunch_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Breakfast-Brunch_x, Length: 20000, dtype: int64,
 'British': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: British, Length: 20000, dtype: int64,
 'Burgers_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Burgers_x, Length: 20000, dtype: int64,
 'Burmese': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Burmese, Length: 20000, dtype: int64,
 'Cafe-Coffee_Shop_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Cafe-Coffee_Shop_x, Length: 20000, dtype: int64,
 'Cafeteria_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Cafeteria_x, Length: 20000, dtype: int64,
 'Cajun-Creole': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Cajun-Creole, Length: 20000, dtype: int64,
 'California_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: California_x, Length: 20000, dtype: int64,
 'Cambodian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Cambodian, Length: 20000, dtype: int64,
 'Canadian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Canadian, Length: 20000, dtype: int64,
 'Caribbean_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Caribbean_x, Length: 20000, dtype: int64,
 'Chilean': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Chilean, Length: 20000, dtype: int64,
 'Chinese_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Chinese_x, Length: 20000, dtype: int64,
 'Contemporary_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Contemporary_x, Length: 20000, dtype: int64,
 'Continental-European_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Continental-European_x, Length: 20000, dtype: int64,
 'Cuban': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Cuban, Length: 20000, dtype: int64,
 'Deli-Sandwiches_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Deli-Sandwiches_x, Length: 20000, dtype: int64,
 'Dessert-Ice_Cream_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Dessert-Ice_Cream_x, Length: 20000, dtype: int64,
 'Dim_Sum': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Dim_Sum, Length: 20000, dtype: int64,
 'Diner_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Diner_x, Length: 20000, dtype: int64,
 'Doughnuts': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Doughnuts, Length: 20000, dtype: int64,
 'Dutch-Belgian_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Dutch-Belgian_x, Length: 20000, dtype: int64,
 'Eastern_European_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Eastern_European_x, Length: 20000, dtype: int64,
 'Eclectic': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Eclectic, Length: 20000, dtype: int64,
 'Ethiopian_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Ethiopian_x, Length: 20000, dtype: int64,
 'Family_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Family_x, Length: 20000, dtype: int64,
 'Fast_Food_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    0
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Fast_Food_x, Length: 20000, dtype: int64,
 'Filipino': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Filipino, Length: 20000, dtype: int64,
 'Fine_Dining_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Fine_Dining_x, Length: 20000, dtype: int64,
 'French_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: French_x, Length: 20000, dtype: int64,
 'Fusion': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Fusion, Length: 20000, dtype: int64,
 'Game_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Game_x, Length: 20000, dtype: int64,
 'German_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: German_x, Length: 20000, dtype: int64,
 'Greek_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Greek_x, Length: 20000, dtype: int64,
 'Hawaiian': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Hawaiian, Length: 20000, dtype: int64,
 'Hot_Dogs_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Hot_Dogs_x, Length: 20000, dtype: int64,
 'Hungarian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Hungarian, Length: 20000, dtype: int64,
 'Indian-Pakistani': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Indian-Pakistani, Length: 20000, dtype: int64,
 'Indigenous': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Indigenous, Length: 20000, dtype: int64,
 'Indonesian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Indonesian, Length: 20000, dtype: int64,
 'International_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: International_x, Length: 20000, dtype: int64,
 'Irish': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Irish, Length: 20000, dtype: int64,
 'Israeli': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Israeli, Length: 20000, dtype: int64,
 'Italian_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Italian_x, Length: 20000, dtype: int64,
 'Jamaican': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Jamaican, Length: 20000, dtype: int64,
 'Japanese_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Japanese_x, Length: 20000, dtype: int64,
 'Juice_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Juice_x, Length: 20000, dtype: int64,
 'Korean_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Korean_x, Length: 20000, dtype: int64,
 'Kosher': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Kosher, Length: 20000, dtype: int64,
 'Latin_American_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Latin_American_x, Length: 20000, dtype: int64,
 'Lebanese': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Lebanese, Length: 20000, dtype: int64,
 'Malaysian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Malaysian, Length: 20000, dtype: int64,
 'Mediterranean_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Mediterranean_x, Length: 20000, dtype: int64,
 'Mexican_x': 32827    1
 58330    2
 78953    1
 90339    2
 55069    1
         ..
 36981    2
 45096    1
 42171    2
 64108    2
 18351    2
 Name: Mexican_x, Length: 20000, dtype: int64,
 'Middle_Eastern': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Middle_Eastern, Length: 20000, dtype: int64,
 'Mongolian_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Mongolian_x, Length: 20000, dtype: int64,
 'Moroccan': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Moroccan, Length: 20000, dtype: int64,
 'North_African': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: North_African, Length: 20000, dtype: int64,
 'Organic-Healthy_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Organic-Healthy_x, Length: 20000, dtype: int64,
 'Pacific_Northwest': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Pacific_Northwest, Length: 20000, dtype: int64,
 'Pacific_Rim': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Pacific_Rim, Length: 20000, dtype: int64,
 'Persian_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Persian_x, Length: 20000, dtype: int64,
 'Peruvian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Peruvian, Length: 20000, dtype: int64,
 'Pizzeria_x': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Pizzeria_x, Length: 20000, dtype: int64,
 'Polish_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Polish_x, Length: 20000, dtype: int64,
 'Polynesian': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Polynesian, Length: 20000, dtype: int64,
 'Portuguese': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Portuguese, Length: 20000, dtype: int64,
 'Regional_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Regional_x, Length: 20000, dtype: int64,
 'Romanian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Romanian, Length: 20000, dtype: int64,
 'Russian-Ukrainian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Russian-Ukrainian, Length: 20000, dtype: int64,
 'Scandinavian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0
 18351    0
 Name: Scandinavian, Length: 20000, dtype: int64,
 'Seafood_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Seafood_x, Length: 20000, dtype: int64,
 'Soup_x': 32827    1
 58330    1
 78953    1
 90339    1
 55069    1
         ..
 36981    1
 45096    1
 42171    1
 64108    1
 18351    1
 Name: Soup_x, Length: 20000, dtype: int64,
 'Southeast_Asian': 32827    0
 58330    0
 78953    0
 90339    0
 55069    0
         ..
 36981    0
 45096    0
 42171    0
 64108    0

In [12]:
pred_ans = model.predict(test_model_input, batch_size=256)

In [13]:
pred_ans

array([[1.2084347 ],
       [1.25326633],
       [0.95081556],
       ...,
       [1.06236434],
       [0.99560601],
       [1.12524641]])

In [40]:
_test_df = data[data["rating"] == 0]
_test_data = {name: _test_df[name] for name in feature_names}

ans = model.predict(_test_data, batch_size=256)

In [41]:
import numpy as np

np.mean(ans)

0.403522241515407

In [45]:
sum((1 if a[0] < 0.5 else 0) for a in ans)

10665

In [46]:
len(ans)

16834