In [2]:
import pandas as pd
import numpy as np

In [27]:
def prepare_user_profile_df(df):
    df.drop(["latitude", "longitude"], axis=1)
    df = df.replace("?", pd.NA)
    df = df.fillna(method="bfill")
    return df


def prepare_user_cuisine_df(df):
    df.drop_duplicates()
    df = df.join(pd.get_dummies(df["Rcuisine"]))
    df = df.drop("Rcuisine", axis=1)
    df = df.groupby("userID").sum()
    return df

In [4]:
user_profile_df = pd.read_csv("../data/restaurant_data/userprofile.csv")
user_profile_df = prepare_user_profile_df(user_profile_df)
user_profile_df.head()

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69,medium,1.77
1,U1002,22.150087,-100.983325,false,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87
2,U1003,22.119847,-100.946527,false,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60,low,1.69
3,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53
4,U1005,22.183477,-100.959891,false,abstemious,no preference,family,public,single,independent,1992,none,thrifty-protector,Catholic,student,black,65,medium,1.69

In [5]:
user_cuisine_df = pd.read_csv("../data/restaurant_data/usercuisine.csv")
user_cuisine_df = prepare_user_cuisine_df(user_cuisine_df)
user_cuisine_df

,Afghan,African,American,Armenian,Asian,Australian,Austrian,Bagels,Bakery,Bar,...,Swiss,Tapas,Tea_House,Tex-Mex,Thai,Tibetan,Tunisian,Turkish,Vegetarian,Vietnamese
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
U1005,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U1134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1135,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
U1136,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
users_df = pd.merge(user_profile_df, user_cuisine_df, on="userID")
users_df

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,...,Swiss,Tapas,Tea_House,Tex-Mex,Thai,Tibetan,Tunisian,Turkish,Vegetarian,Vietnamese
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,...,0,0,0,0,0,0,0,0,0,0
1,U1002,22.150087,-100.983325,false,abstemious,informal,family,public,single,independent,...,0,0,0,0,0,0,0,0,0,0
2,U1003,22.119847,-100.946527,false,social drinker,formal,family,public,single,independent,...,0,0,0,0,0,0,0,0,0,0
3,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,...,0,0,0,0,0,0,0,0,0,0
4,U1005,22.183477,-100.959891,false,abstemious,no preference,family,public,single,independent,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,U1134,22.149654,-100.998610,false,casual drinker,no preference,family,public,single,independent,...,0,0,0,0,0,0,0,0,0,0
134,U1135,22.170396,-100.949936,false,casual drinker,informal,family,on foot,single,kids,...,1,1,1,1,1,1,1,1,1,1
135,U1136,22.149607,-100.997235,true,social drinker,no preference,friends,car owner,single,independent,...,0,0,0,0,0,0,0,0,0,0
136,U1137,22.144803,-100.944623,false,social drinker,formal,family,public,single,independent,...,0,0,0,0,0,0,0,0,0,0
137,U1138,22.152884,-100.939663,false,social drinker,formal,friends,public,single,independent,...,0,0,0,0,0,0,0,0,0,0

In [22]:
users_df = users_df.drop(["latitude", "longitude"], axis=1)

In [23]:
users_df

,userID,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,...,Swiss,Tapas,Tea_House,Tex-Mex,Thai,Tibetan,Tunisian,Turkish,Vegetarian,Vietnamese
0,U1001,false,abstemious,informal,family,on foot,single,independent,1989,variety,...,0,0,0,0,0,0,0,0,0,0
1,U1002,false,abstemious,informal,family,public,single,independent,1990,technology,...,0,0,0,0,0,0,0,0,0,0
2,U1003,false,social drinker,formal,family,public,single,independent,1989,none,...,0,0,0,0,0,0,0,0,0,0
3,U1004,false,abstemious,informal,family,public,single,independent,1940,variety,...,0,0,0,0,0,0,0,0,0,0
4,U1005,false,abstemious,no preference,family,public,single,independent,1992,none,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,U1134,false,casual drinker,no preference,family,public,single,independent,1991,variety,...,0,0,0,0,0,0,0,0,0,0
134,U1135,false,casual drinker,informal,family,on foot,single,kids,1988,variety,...,1,1,1,1,1,1,1,1,1,1
135,U1136,true,social drinker,no preference,friends,car owner,single,independent,1990,retro,...,0,0,0,0,0,0,0,0,0,0
136,U1137,false,social drinker,formal,family,public,single,independent,1989,eco-friendly,...,0,0,0,0,0,0,0,0,0,0
137,U1138,false,social drinker,formal,friends,public,single,independent,1991,variety,...,0,0,0,0,0,0,0,0,0,0

In [24]:
users_df.to_csv("../data/restaurant_data_reformatted/users.csv", index=False)

# Restaurant data

---

In [8]:
## Restaurant data

def prepare_rest_cuisine_df(df):
    df.drop_duplicates()
    df = rest_cuisine_df.join(pd.get_dummies(rest_cuisine_df["Rcuisine"]))
    df = df.drop("Rcuisine", axis=1)
    df = df.groupby("placeID").sum()
    return df

In [25]:
rest_cuisine_df = pd.read_csv("../data/restaurant_data/chefmozcuisine.csv")
rest_cuisine_df = prepare_rest_cuisine_df(rest_cuisine_df)
rest_cuisine_df

,Afghan,African,American,Armenian,Asian,Bagels,Bakery,Bar,Bar_Pub_Brewery,Barbecue,...,Soup,Southern,Southwestern,Spanish,Steaks,Sushi,Thai,Turkish,Vegetarian,Vietnamese
placeID,,,,,,,,,,,,,,,,,,,,,
132001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135106,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135110,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [26]:
rest_cuisine_df.to_csv("../data/restaurant_data_reformatted/restaurants.csv")

In [124]:
rest_geo_df = pd.read_csv("../data/restaurant_data/geoplaces2.csv")
rest_geo_df

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc�n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,f,closed,none
126,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,Venustiano Carranza 1809 C Polanco,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,sushi-itto.com.mx,familiar,f,closed,none
127,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,?,...,Wine-Beer,not permitted,informal,no_accessibility,medium,?,quiet,f,closed,Internet
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
129,132877,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,sirloin stockade,?,?,?,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none

In [125]:
rest_geo_df.columns

Index(['placeID', 'latitude', 'longitude', 'the_geom_meter', 'name', 'address',
       'city', 'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

In [126]:
df = rest_geo_df.drop(["address", "fax", "zip", "url", "the_geom_meter", "latitude", "longitude", "name", "city", "state", "country"], axis=1)
df

,placeID,alcohol,smoking_area,dress_code,accessibility,price,Rambience,franchise,area,other_services
0,134999,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,f,closed,none
1,132825,No_Alcohol_Served,none,informal,completely,low,familiar,f,open,none
2,135106,Wine-Beer,only at bar,informal,partially,medium,familiar,f,open,none
3,132667,No_Alcohol_Served,none,informal,completely,low,familiar,t,closed,none
4,132613,No_Alcohol_Served,permitted,informal,completely,medium,familiar,t,closed,none
...,...,...,...,...,...,...,...,...,...,...
125,132866,No_Alcohol_Served,not permitted,informal,completely,medium,familiar,f,closed,none
126,135072,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,f,closed,none
127,135109,Wine-Beer,not permitted,informal,no_accessibility,medium,quiet,f,closed,Internet
128,135019,No_Alcohol_Served,none,informal,completely,low,familiar,f,closed,none
129,132877,No_Alcohol_Served,none,informal,completely,low,familiar,f,closed,none

In [98]:
df["smoking_area"] = df["smoking_area"].apply(lambda x: 0 if x == "none" or x == "not permitted" else 1)
df

,placeID,alcohol,smoking_area,dress_code,accessibility,price,Rambience,franchise,area,other_services
0,134999,No_Alcohol_Served,0,informal,no_accessibility,medium,familiar,f,closed,none
1,132825,No_Alcohol_Served,0,informal,completely,low,familiar,f,open,none
2,135106,Wine-Beer,1,informal,partially,medium,familiar,f,open,none
3,132667,No_Alcohol_Served,0,informal,completely,low,familiar,t,closed,none
4,132613,No_Alcohol_Served,1,informal,completely,medium,familiar,t,closed,none
...,...,...,...,...,...,...,...,...,...,...
125,132866,No_Alcohol_Served,0,informal,completely,medium,familiar,f,closed,none
126,135072,No_Alcohol_Served,0,informal,no_accessibility,medium,familiar,f,closed,none
127,135109,Wine-Beer,0,informal,no_accessibility,medium,quiet,f,closed,Internet
128,135019,No_Alcohol_Served,0,informal,completely,low,familiar,f,closed,none
129,132877,No_Alcohol_Served,0,informal,completely,low,familiar,f,closed,none

In [93]:
set(df["smoking_area"].values)

{'none', 'not permitted', 'only at bar', 'permitted', 'section'}

In [99]:
df["placeID"].nunique()

130


# Ratings
---

In [12]:
ratings_df = pd.read_csv("../data/restaurant_data/rating_final.csv")
ratings_df

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
...     ...      ...     ...          ...             ...
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

In [16]:
ratings_df.to_csv("../data/restaurant_data_reformatted/ratings.csv", index=False)

In [132]:
final_df = pd.merge(ratings_df, users_df, on="userID")
final_df

,userID,placeID,rating,food_rating,service_rating,latitude,longitude,smoker,drink_level,dress_preference,...,Swiss,Tapas,Tea_House,Tex-Mex,Thai,Tibetan,Tunisian,Turkish,Vegetarian,Vietnamese
0,U1077,135085,2,2,2,22.156469,-100.985540,false,social drinker,elegant,...,0,0,0,0,0,0,0,0,0,0
1,U1077,135038,2,2,1,22.156469,-100.985540,false,social drinker,elegant,...,0,0,0,0,0,0,0,0,0,0
2,U1077,132825,2,2,2,22.156469,-100.985540,false,social drinker,elegant,...,0,0,0,0,0,0,0,0,0,0
3,U1077,135060,1,2,2,22.156469,-100.985540,false,social drinker,elegant,...,0,0,0,0,0,0,0,0,0,0
4,U1077,135027,0,1,1,22.156469,-100.985540,false,social drinker,elegant,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,U1043,132732,1,1,1,23.771030,-99.167082,false,abstemious,no preference,...,0,0,0,0,0,0,0,0,0,0
1157,U1043,132630,1,1,1,23.771030,-99.167082,false,abstemious,no preference,...,0,0,0,0,0,0,0,0,0,0
1158,U1011,132717,2,2,1,23.724972,-99.152856,false,abstemious,no preference,...,0,0,0,0,0,0,0,0,0,0
1159,U1011,132564,1,1,1,23.724972,-99.152856,false,abstemious,no preference,...,0,0,0,0,0,0,0,0,0,0
1160,U1011,132715,1,1,0,23.724972,-99.152856,false,abstemious,no preference,...,0,0,0,0,0,0,0,0,0,0

In [134]:
final_df = pd.merge(final_df, rest_cuisine_df, on="placeID")
final_df

,userID,placeID,rating,food_rating,service_rating,latitude,longitude,smoker,drink_level,dress_preference,...,Soup_y,Southern_y,Southwestern_y,Spanish_y,Steaks_y,Sushi_y,Thai_y,Turkish_y,Vegetarian_y,Vietnamese_y
0,U1077,135085,2,2,2,22.156469,-100.985540,false,social drinker,elegant,...,0,0,0,0,0,0,0,0,0,0
1,U1108,135085,1,2,1,22.143524,-100.987562,false,abstemious,informal,...,0,0,0,0,0,0,0,0,0,0
2,U1081,135085,1,2,1,22.207749,-100.942383,false,casual drinker,informal,...,0,0,0,0,0,0,0,0,0,0
3,U1001,135085,0,1,1,22.139997,-100.978803,false,abstemious,informal,...,0,0,0,0,0,0,0,0,0,0
4,U1056,135085,2,2,2,22.168997,-100.974376,false,social drinker,informal,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,U1006,132922,2,1,2,22.150000,-100.983000,true,social drinker,no preference,...,0,0,0,0,0,0,0,0,0,0
869,U1003,132937,2,2,1,22.119847,-100.946527,false,social drinker,formal,...,0,0,0,0,0,0,0,0,0,0
870,U1027,132937,1,1,1,22.165150,-100.987015,true,social drinker,no preference,...,0,0,0,0,0,0,0,0,0,0
871,U1029,132937,1,1,1,22.151796,-100.989075,true,casual drinker,formal,...,0,0,0,0,0,0,0,0,0,0
872,U1086,132937,2,0,1,22.157281,-100.984440,false,social drinker,no preference,...,0,0,0,0,0,0,0,0,0,0

In [137]:
final_df.to_csv("../data/explorative_analysis_data.csv")