In [293]:
import numpy as np
from numpy import random as npr


class ResponseFunction:
    def __init__(self, heu_matrix, nn_matrix):
        assert heu_matrix.shape == nn_matrix.shape
        self._heu_matrix = heu_matrix
        self._nn_matrix = nn_matrix
        
    def __call__(self, a1: float, a2: float):
        assert a1 >= 0.0
        assert a2 >= 0.0
        assert a1 + a2 <= 1.0
        a3 = 1 - a1 - a2
        return (
            a1 * self._heu_matrix
            + a2 * self._nn_matrix
            + a3 * npr.normal(0, 1)
        )

In [4]:
import pandas as pd

In [24]:

class SimilarityModel:
    def __init__(self, sim_matrix):
        self._sim_matrix = sim_matrix
    
    def predict_rating(self, user, item):
        user_id = user[0]
        item_id = item[0]
        return self._sim_matrix[user_id][item_id] * 2
    
    def pred(self, user_df, item_df):
        user_ids = user_df["user_id"]
        item_ids = user_df["item_id"]

In [272]:
users_df = pd.read_csv("../data/restaurant_data_reformatted/users.csv")
restaurants_df = pd.read_csv("../data/restaurant_data_reformatted/restaurants.csv")

In [273]:
drop_cols = ['userID',
 'smoker',
 'drink_level',
 'dress_preference',
 'ambience',
 'transport',
 'marital_status',
 'hijos',
 'birth_year',
 'interest',
 'personality',
 'religion',
 'activity',
 'color',
 'weight',
 'budget',
 'height',
]

In [274]:
users_df.drop(drop_cols, axis=1)

,Afghan,African,American,Armenian,Asian,Australian,Austrian,Bagels,Bakery,Bar,...,Swiss,Tapas,Tea_House,Tex-Mex,Thai,Tibetan,Tunisian,Turkish,Vegetarian,Vietnamese
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
135,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
136,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [275]:
users_food_pref_df = users_df[restaurants_df.drop("placeID", axis=1).columns]

In [276]:
from sklearn.metrics.pairwise import cosine_similarity

In [277]:
_heu_matrix = cosine_similarity(users_food_pref_df, restaurants_df.drop("placeID", axis=1))

In [280]:
_heu_matrix.shape

(138, 769)

## DeepFM

In [15]:
import pandas as pd
import torch
from sklearn.metrics import log_loss, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

from deepctr_torch.inputs import SparseFeat, DenseFeat, get_feature_names

data = pd.read_csv('../data/restaurant_data_reformatted/synthetic_data.csv')
data.head()

,Unnamed: 0,rating,food_rating,service_rating,smoker,drink_level,dress_preference,ambience,transport,marital_status,...,Soup_y,Southern_y,Southwestern_y,Spanish_y,Steaks_y,Sushi_y,Thai_y,Turkish_y,Vegetarian_y,Vietnamese_y
0,0,1,1,2,False,social drinker,formal,family,public,single,...,0,0,0,0,0,0,0,0,0,0
1,1,1,2,1,False,social drinker,elegant,family,public,single,...,0,0,0,0,0,0,0,0,0,0
2,2,2,1,1,False,social drinker,elegant,family,public,single,...,0,0,0,0,0,0,0,0,0,0
3,3,2,1,2,False,social drinker,elegant,family,car owner,single,...,0,0,0,0,0,0,0,0,0,0
4,4,2,1,1,False,social drinker,elegant,family,public,single,...,0,0,0,0,0,0,0,0,0,0

In [16]:
data.columns

Index(['Unnamed: 0', 'rating', 'food_rating', 'service_rating', 'smoker',
       'drink_level', 'dress_preference', 'ambience', 'transport',
       'marital_status',
       ...
       'Soup_y', 'Southern_y', 'Southwestern_y', 'Spanish_y', 'Steaks_y',
       'Sushi_y', 'Thai_y', 'Turkish_y', 'Vegetarian_y', 'Vietnamese_y'],
      dtype='object', length=182)

## DeepFM train

In [141]:
class DeepFMDataLoader:
    def __init__(self, sparse_features, dense_features):
        self._sparse_feats = sparse_feats
        self._dense_feats = dense_feats
        
    def load(self, dataset):
        nn_input = pd.DataFrame()
        nn_input[self._sparse_feats] = dataset[self._sparse_feats]
        nn_input[self._dense_feats] = dataset[self._dense_feats]
        
        for feat in self._sparse_feats:
            encoder = LabelEncoder()
            nn_input[feat] = encoder.fit_transform(nn_input[feat])
            
        mms = MinMaxScaler(feature_range=(0,1))
        nn_input[self._dense_feats] = mms.fit_transform(nn_input[self._dense_feats])
        
        # problems may be here
        sparse_feature_columns = [
            SparseFeat(feat, vocabulary_size=nn_input[feat].nunique(), embedding_dim=4) 
            for i, feat in enumerate(self._sparse_feats)
        ]

        dense_feature_columns = [DenseFeat(feat, 1,) for feat in self._dense_feats]
        
        dnn_feat_cols = sparse_feature_columns + dense_feature_columns
        linear_feat_cols = sparse_feature_columns + dense_feature_columns
        
        feat_names = get_feature_names(linear_feature_columns + dnn_feature_columns)
        return nn_input, dnn_feat_cols, linear_feat_cols, feat_names

In [190]:
from deepctr_torch.models import DeepFM
from torch.nn.functional import cross_entropy


class DeepFmModel:
    def __init__(self, linear_feature_columns, dnn_feature_columns, feature_names):
        self._linear_feature_columns = linear_feature_columns
        self._dnn_feature_columns = dnn_feature_columns
        self._feature_names = feature_names
        self._deepfm = DeepFM(
            self._linear_feature_columns,
            self._dnn_feature_columns,
            task='multiclass',
            device='cpu'
        )
        self._deepfm.compile("adam", "mse", metrics=['mse'], )
        
    def train(self, train_set, target_values):
        train_model_input = {n: train_set[n] for n in self._feature_names}
        history = self._deepfm.fit(
            train_model_input,
            target_values,
            batch_size=256,
            epochs=10,
            verbose=2,
            validation_split=0.2
        )

        return history

    def predict(self, test_set):
        test_model_input = {n: test_set[n] for n in self._feature_names}
        result = self._deepfm.predict(test_model_input, batch_size=256)
        return result

    #TODO: add evaluate() method

In [269]:
def merge_feats(feats_a, feats_b):
    assert len(feats_a) == len(feats_b)
    merged = []
    for feat_a, feat_b in zip(feats_a, feats_b):
        if isinstance(feat_a, DenseFeat):
            continue
        if feat_a.vocabulary_size >= feat_b.vocabulary_size:
            merged.append(feat_a)
        else:
            merged.append(feat_b)
    return merged

In [179]:
import pandas as pd
import torch
from sklearn.metrics import log_loss, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

from deepctr_torch.inputs import SparseFeat, DenseFeat, get_feature_names

data = pd.read_csv('../data/restaurant_data_reformatted/synthetic_data.csv')
data.head()

,Unnamed: 0,rating,food_rating,service_rating,smoker,drink_level,dress_preference,ambience,transport,marital_status,...,Soup_y,Southern_y,Southwestern_y,Spanish_y,Steaks_y,Sushi_y,Thai_y,Turkish_y,Vegetarian_y,Vietnamese_y
0,0,1,1,2,False,social drinker,formal,family,public,single,...,0,0,0,0,0,0,0,0,0,0
1,1,1,2,1,False,social drinker,elegant,family,public,single,...,0,0,0,0,0,0,0,0,0,0
2,2,2,1,1,False,social drinker,elegant,family,public,single,...,0,0,0,0,0,0,0,0,0,0
3,3,2,1,2,False,social drinker,elegant,family,car owner,single,...,0,0,0,0,0,0,0,0,0,0
4,4,2,1,1,False,social drinker,elegant,family,public,single,...,0,0,0,0,0,0,0,0,0,0

In [180]:
data = data.drop("Unnamed: 0", axis=1)

In [181]:
dense_feats = ["height", "weight", "birth_year"]
sparse_feats = [c for c in list(data.columns) if c not in ["rating", "food_rating", "service_rating", "weight", "height", "birth_year"]]

In [182]:
data_loader = DeepFMDataLoader(sparse_feats, dense_feats)
nn_input, dnn_feats, lin_feats, feat_names = data_loader.load(data)

In [261]:
users_df = pd.read_csv("../data/restaurant_data_reformatted/users.csv")
restaurants_df = pd.read_csv("../data/restaurant_data_reformatted/restaurants.csv")
users_df["user_id"] = range(0, len(users_df))
restaurants_df["item_id"] = range(0, len(restaurants_df))
_merged_df = _cross_join(users_df, restaurants_df)
_nn_input, _dnn_feats, _lin_feats, _feat_names = data_loader.load(_merged_df)

In [239]:
_merged_feats = merge_feats(dnn_feats, _dnn_feats)

In [240]:
train_set, test_set = train_test_split(nn_input, test_size=0.2)

In [241]:
deepfm = DeepFmModel(_merged_feats, _merged_feats, feat_names)

In [242]:
target_values = data["rating"].values
deepfm.train(train_set, target_values=target_values[:len(train_set)])

cpu
Train on 64000 samples, validate on 16000 samples, 250 steps per epoch
Epoch 1/10
147s - loss:  0.7090 - mse:  0.7090 - val_mse:  0.6836
Epoch 2/10
159s - loss:  0.6955 - mse:  0.6955 - val_mse:  0.6881
Epoch 3/10
192s - loss:  0.6947 - mse:  0.6947 - val_mse:  0.6843
Epoch 4/10
183s - loss:  0.6937 - mse:  0.6937 - val_mse:  0.6826
Epoch 5/10
176s - loss:  0.6936 - mse:  0.6936 - val_mse:  0.6835
Epoch 6/10
182s - loss:  0.6946 - mse:  0.6946 - val_mse:  0.6923
Epoch 7/10
187s - loss:  0.6930 - mse:  0.6930 - val_mse:  0.6835
Epoch 8/10
260s - loss:  0.6925 - mse:  0.6925 - val_mse:  0.6885
Epoch 9/10
123s - loss:  0.6923 - mse:  0.6923 - val_mse:  0.6874
Epoch 10/10
113s - loss:  0.6921 - mse:  0.6921 - val_mse:  0.6855

In [244]:
deepfm

---

In [265]:


class NNModelWrapper:
    def __init__(self, trained_nn):
        self._nn = trained_nn

    def predict_rating(self, nn_input, merged_df):
        y = self._nn.predict(nn_input)
        result = pd.DataFrame()
        result["rating"] = y.reshape((len(y),))
        result["user_id"] = merged_df["user_id"]
        result["item_id"] = merged_df["item_id"]
        output_matrix = result.pivot(index="user_id", columns="item_id", values="rating")
        return output_matrix
    

def _cross_join(df1, df2):
    df1["_join_key"] = 0
    df2["_join_key"] = 0
    merged_df = df1.merge(df2, on="_join_key")
    merged_df = merged_df.drop("_join_key", axis=1)
    return merged_df

In [266]:
model_wrapper = NNModelWrapper(deepfm)

In [268]:
_nn_matrix = model_wrapper.predict_rating(_nn_input, _merged_df)
_nn_matrix

item_id,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
user_id,,,,,,,,,,,,,,,,,,,,,
0,1.262447,1.295900,1.134670,1.295900,1.288901,1.262447,1.262147,1.134670,1.134670,1.255392,...,1.555022,1.555022,1.547743,1.362345,1.561919,1.320382,1.561919,1.261866,1.010623,1.262200
1,1.563439,1.601233,1.381629,1.601233,1.594182,1.563439,1.563147,1.381629,1.381629,1.556357,...,1.768058,1.768058,1.760683,1.678776,1.774964,1.623345,1.774964,1.562796,1.284210,1.563206
2,1.667459,1.705796,1.476987,1.705796,1.698694,1.667459,1.667159,1.476987,1.476987,1.660312,...,1.817025,1.817025,1.809582,1.786862,1.823972,1.731196,1.823972,1.666806,1.379380,1.667251
3,1.081147,1.113497,0.977190,1.113497,1.106576,1.081147,1.080917,0.977190,0.977190,1.074207,...,1.356561,1.356561,1.349398,1.169966,1.363353,1.129449,1.363353,1.080637,0.856109,1.080934
4,1.232093,1.267139,1.083661,1.267139,1.260120,1.232093,1.231796,1.083661,1.083661,1.225037,...,1.474103,1.474103,1.466792,1.338106,1.481000,1.290445,1.481000,1.231482,0.970165,1.231840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,1.584908,1.619335,1.414564,1.619335,1.612184,1.584908,1.584588,1.414564,1.414564,1.577716,...,1.775464,1.775464,1.768010,1.703309,1.782475,1.651078,1.782475,1.584270,1.309126,1.584684
134,0.596208,0.612079,0.663671,0.612079,0.605336,0.596208,0.596078,0.663671,0.663671,0.589435,...,1.358840,1.358840,1.352049,0.637618,1.365499,0.628405,1.365499,0.595998,0.488516,0.596072
135,1.830642,1.869251,1.629075,1.869251,1.862118,1.830642,1.830316,1.629075,1.629075,1.823480,...,1.982554,1.982554,1.975090,1.955282,1.989535,1.896705,1.989535,1.829955,1.537348,1.830390
136,1.572747,1.609020,1.397081,1.609020,1.601927,1.572747,1.572451,1.397081,1.397081,1.565618,...,1.767860,1.767860,1.760454,1.688593,1.774806,1.634797,1.774806,1.572115,1.296517,1.572528
137,1.559247,1.597643,1.377703,1.597643,1.590596,1.559247,1.558941,1.377703,1.377703,1.552149,...,1.738330,1.738330,1.730943,1.674058,1.745245,1.620937,1.745245,1.558597,1.275681,1.559010

In [347]:
_nn_matrix.to_csv("../data/restaurant_data_reformatted/nn_matrix_out.csv")
pd.DataFrame(_heu_matrix).to_csv("../data/restaurant_data_reformatted/heu_matrix_out.csv")

In [284]:
assert _heu_matrix.shape == _nn_matrix.shape

In [294]:
resp_fn = ResponseFunction(_heu_matrix, _nn_matrix)

In [296]:
resp_fn(0.7, 0.1)

item_id,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
user_id,,,,,,,,,,,,,,,,,,,,,
0,0.093892,0.097238,0.081115,0.097238,0.096538,0.093892,0.093862,0.081115,0.081115,0.093187,...,0.123150,0.123150,0.122422,0.103882,0.123839,0.099686,0.123839,0.093834,0.068710,0.093868
1,0.123991,0.127771,0.105810,0.127771,0.127066,0.123991,0.123962,0.105810,0.105810,0.123283,...,0.639428,0.639428,0.547861,0.135525,0.845144,0.129982,0.845144,0.123927,0.096069,0.123968
2,0.134394,0.138227,0.115346,0.138227,0.137517,0.134394,0.134363,0.115346,0.115346,0.133679,...,0.644325,0.644325,0.552751,0.146334,0.850045,0.140767,0.850045,0.134328,0.105586,0.134373
3,0.075762,0.078997,0.065367,0.078997,0.078305,0.075762,0.075739,0.065367,0.065367,0.075068,...,0.268295,0.268295,0.237302,0.084644,0.337316,0.080592,0.337316,0.075711,0.053258,0.075741
4,0.090857,0.094361,0.076014,0.094361,0.093660,0.090857,0.090827,0.076014,0.076014,0.090151,...,0.115058,0.115058,0.114327,0.101458,0.115748,0.096692,0.115748,0.090796,0.064664,0.090832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,0.126138,0.129581,0.109104,0.129581,0.128866,0.126138,0.126106,0.109104,0.109104,0.125419,...,0.640169,0.640169,0.548594,0.137978,0.845895,0.132755,0.845895,0.126075,0.098560,0.126116
134,0.118401,0.119988,0.125147,0.119988,0.157062,0.118401,0.118388,0.125147,0.125147,0.155471,...,0.232412,0.232412,0.260698,0.213674,0.195330,0.121620,0.195330,0.118380,0.107631,0.118387
135,0.150712,0.154573,0.130555,0.154573,0.153859,0.150712,0.150679,0.130555,0.130555,0.149996,...,0.660878,0.660878,0.569302,0.163176,0.866601,0.157318,0.866601,0.150643,0.121382,0.150687
136,0.124922,0.128550,0.107356,0.128550,0.127840,0.124922,0.124893,0.107356,0.107356,0.124209,...,0.639408,0.639408,0.547838,0.136507,0.845128,0.131127,0.845128,0.124859,0.097299,0.124900
137,0.123572,0.127412,0.105418,0.127412,0.126707,0.123572,0.123542,0.105418,0.105418,0.122863,...,0.141481,0.141481,0.140742,0.135053,0.142172,0.129741,0.142172,0.123507,0.095216,0.123549

## SVD learning

In [299]:
_user_ids = users_df["userID"]
_place_ids = restaurants_df["placeID"]

In [300]:
ratings_df = pd.read_csv("../data/restaurant_data_reformatted/ratings.csv")

In [301]:
ratings_df

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
...     ...      ...     ...          ...             ...
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

In [323]:
_long_table = ratings_df[ratings_df["userID"].isin(_user_ids) & ratings_df["placeID"].isin(_place_ids)]

In [324]:
_long_table = _long_table.drop(["food_rating", "service_rating"], axis=1)

In [325]:
_long_table

     userID  placeID  rating
0     U1077   135085       2
2     U1077   132825       2
3     U1077   135060       1
4     U1068   135104       1
5     U1068   132740       0
...     ...      ...     ...
1155  U1043   132732       1
1156  U1043   132630       1
1157  U1011   132715       1
1158  U1068   132733       1
1159  U1068   132594       1

[873 rows x 3 columns]

In [326]:
_user_id_mapping = {user_id_name: i for i, user_id_name in enumerate(_user_ids)}
_user_id_mapping

{'U1001': 0,
 'U1002': 1,
 'U1003': 2,
 'U1004': 3,
 'U1005': 4,
 'U1006': 5,
 'U1007': 6,
 'U1008': 7,
 'U1009': 8,
 'U1010': 9,
 'U1011': 10,
 'U1012': 11,
 'U1013': 12,
 'U1014': 13,
 'U1015': 14,
 'U1016': 15,
 'U1017': 16,
 'U1018': 17,
 'U1019': 18,
 'U1020': 19,
 'U1021': 20,
 'U1022': 21,
 'U1023': 22,
 'U1024': 23,
 'U1025': 24,
 'U1026': 25,
 'U1027': 26,
 'U1028': 27,
 'U1029': 28,
 'U1030': 29,
 'U1031': 30,
 'U1032': 31,
 'U1033': 32,
 'U1034': 33,
 'U1035': 34,
 'U1036': 35,
 'U1037': 36,
 'U1038': 37,
 'U1039': 38,
 'U1040': 39,
 'U1041': 40,
 'U1042': 41,
 'U1043': 42,
 'U1044': 43,
 'U1045': 44,
 'U1046': 45,
 'U1047': 46,
 'U1048': 47,
 'U1049': 48,
 'U1050': 49,
 'U1051': 50,
 'U1052': 51,
 'U1053': 52,
 'U1054': 53,
 'U1055': 54,
 'U1056': 55,
 'U1057': 56,
 'U1058': 57,
 'U1059': 58,
 'U1060': 59,
 'U1061': 60,
 'U1062': 61,
 'U1063': 62,
 'U1064': 63,
 'U1065': 64,
 'U1066': 65,
 'U1067': 66,
 'U1068': 67,
 'U1069': 68,
 'U1070': 69,
 'U1071': 70,
 'U1072': 71,
 'U1073': 72,
 'U1074': 73,
 'U1075': 74,
 'U1076': 75,
 'U1077': 76,
 'U1078': 77,
 'U1079': 78,
 'U1080': 79,
 'U1081': 80,
 'U1082': 81,
 'U1083': 82,
 'U1084': 83,
 'U1085': 84,
 'U1086': 85,
 'U1087': 86,
 'U1088': 87,
 'U1089': 88,
 'U1090': 89,
 'U1091': 90,
 'U1092': 91,
 'U1093': 92,
 'U1094': 93,
 'U1095': 94,
 'U1096': 95,
 'U1097': 96,
 'U1098': 97,
 'U1099': 98,
 'U1100': 99,
 'U1101': 100,
 'U1102': 101,
 'U1103': 102,
 'U1104': 103,
 'U1105': 104,
 'U1106': 105,
 'U1107': 106,
 'U1108': 107,
 'U1109': 108,
 'U1110': 109,
 'U1111': 110,
 'U1112': 111,
 'U1113': 112,
 'U1114': 113,
 'U1115': 114,
 'U1116': 115,
 'U1117': 116,
 'U1118': 117,
 'U1119': 118,
 'U1120': 119,
 'U1121': 120,
 'U1122': 121,
 'U1123': 122,
 'U1124': 123,
 'U1125': 124,
 'U1126': 125,
 'U1127': 126,
 'U1128': 127,
 'U1129': 128,
 'U1130': 129,
 'U1131': 130,
 'U1132': 131,
 'U1133': 132,
 'U1134': 133,
 'U1135': 134,
 'U1136': 135,
 'U1137': 136,
 'U1138': 137}

In [327]:
_item_id_mapping = {item_id_name: i for i, item_id_name in enumerate(_place_ids)}
_item_id_mapping

{132001: 0,
 132002: 1,
 132003: 2,
 132004: 3,
 132005: 4,
 132006: 5,
 132007: 6,
 132008: 7,
 132009: 8,
 132010: 9,
 132012: 10,
 132013: 11,
 132014: 12,
 132015: 13,
 132016: 14,
 132017: 15,
 132018: 16,
 132019: 17,
 132020: 18,
 132021: 19,
 132022: 20,
 132023: 21,
 132024: 22,
 132025: 23,
 132026: 24,
 132028: 25,
 132030: 26,
 132031: 27,
 132083: 28,
 132087: 29,
 132092: 30,
 132094: 31,
 132096: 32,
 132097: 33,
 132098: 34,
 132100: 35,
 132101: 36,
 132102: 37,
 132103: 38,
 132105: 39,
 132106: 40,
 132107: 41,
 132108: 42,
 132109: 43,
 132114: 44,
 132115: 45,
 132116: 46,
 132118: 47,
 132119: 48,
 132120: 49,
 132121: 50,
 132125: 51,
 132126: 52,
 132127: 53,
 132128: 54,
 132130: 55,
 132131: 56,
 132132: 57,
 132133: 58,
 132136: 59,
 132137: 60,
 132138: 61,
 132145: 62,
 132146: 63,
 132147: 64,
 132155: 65,
 132156: 66,
 132157: 67,
 132159: 68,
 132160: 69,
 132161: 70,
 132162: 71,
 132163: 72,
 132164: 73,
 132165: 74,
 132166: 75,
 132167: 76,
 132171: 77,
 132174: 78,
 132175: 79,
 132177: 80,
 132180: 81,
 132182: 82,
 132184: 83,
 132186: 84,
 132187: 85,
 132191: 86,
 132192: 87,
 132201: 88,
 132203: 89,
 132204: 90,
 132206: 91,
 132207: 92,
 132208: 93,
 132209: 94,
 132210: 95,
 132211: 96,
 132212: 97,
 132213: 98,
 132214: 99,
 132215: 100,
 132216: 101,
 132217: 102,
 132218: 103,
 132220: 104,
 132221: 105,
 132223: 106,
 132225: 107,
 132226: 108,
 132228: 109,
 132229: 110,
 132230: 111,
 132231: 112,
 132232: 113,
 132233: 114,
 132234: 115,
 132235: 116,
 132237: 117,
 132238: 118,
 132239: 119,
 132240: 120,
 132242: 121,
 132243: 122,
 132244: 123,
 132245: 124,
 132246: 125,
 132247: 126,
 132249: 127,
 132250: 128,
 132253: 129,
 132255: 130,
 132257: 131,
 132258: 132,
 132262: 133,
 132265: 134,
 132266: 135,
 132268: 136,
 132269: 137,
 132270: 138,
 132271: 139,
 132272: 140,
 132273: 141,
 132274: 142,
 132275: 143,
 132280: 144,
 132281: 145,
 132283: 146,
 132284: 147,
 132289: 148,
 132292: 149,
 132294: 150,
 132295: 151,
 132296: 152,
 132297: 153,
 132298: 154,
 132299: 155,
 132300: 156,
 132302: 157,
 132306: 158,
 132310: 159,
 132312: 160,
 132315: 161,
 132316: 162,
 132317: 163,
 132318: 164,
 132319: 165,
 132321: 166,
 132324: 167,
 132326: 168,
 132328: 169,
 132329: 170,
 132330: 171,
 132331: 172,
 132332: 173,
 132333: 174,
 132335: 175,
 132336: 176,
 132337: 177,
 132339: 178,
 132341: 179,
 132342: 180,
 132343: 181,
 132344: 182,
 132345: 183,
 132346: 184,
 132347: 185,
 132348: 186,
 132349: 187,
 132350: 188,
 132351: 189,
 132352: 190,
 132353: 191,
 132354: 192,
 132355: 193,
 132356: 194,
 132357: 195,
 132358: 196,
 132359: 197,
 132360: 198,
 132361: 199,
 132362: 200,
 132363: 201,
 132364: 202,
 132365: 203,
 132366: 204,
 132367: 205,
 132372: 206,
 132377: 207,
 132380: 208,
 132381: 209,
 132384: 210,
 132386: 211,
 132387: 212,
 132389: 213,
 132392: 214,
 132393: 215,
 132396: 216,
 132398: 217,
 132399: 218,
 132402: 219,
 132406: 220,
 132407: 221,
 132408: 222,
 132409: 223,
 132410: 224,
 132413: 225,
 132414: 226,
 132417: 227,
 132419: 228,
 132421: 229,
 132425: 230,
 132429: 231,
 132430: 232,
 132432: 233,
 132433: 234,
 132434: 235,
 132435: 236,
 132436: 237,
 132437: 238,
 132438: 239,
 132439: 240,
 132440: 241,
 132441: 242,
 132442: 243,
 132443: 244,
 132444: 245,
 132445: 246,
 132446: 247,
 132447: 248,
 132448: 249,
 132449: 250,
 132450: 251,
 132451: 252,
 132452: 253,
 132453: 254,
 132454: 255,
 132455: 256,
 132456: 257,
 132457: 258,
 132458: 259,
 132459: 260,
 132464: 261,
 132468: 262,
 132469: 263,
 132470: 264,
 132474: 265,
 132477: 266,
 132478: 267,
 132479: 268,
 132481: 269,
 132482: 270,
 132483: 271,
 132484: 272,
 132485: 273,
 132487: 274,
 132488: 275,
 132491: 276,
 132493: 277,
 132509: 278,
 132511: 279,
 132513: 280,
 132514: 281,
 132517: 282,
 132518: 283,
 132519: 284,
 132521: 285,
 132522: 286,
 132523: 287,
 132524: 288,
 132525: 289,
 132526: 290,
 132527: 291,
 132528: 292,
 132529: 293,
 132530: 294,
 132531: 295,
 132532: 296,
 132533: 297,
 132535: 298,
 132536: 299,
 132537: 300,
 132538: 301,
 132539: 302,
 132540: 303,
 132541: 304,
 132542: 305,
 132543: 306,
 132544: 307,
 132545: 308,
 132546: 309,
 132547: 310,
 132548: 311,
 132549: 312,
 132550: 313,
 132551: 314,
 132555: 315,
 132557: 316,
 132560: 317,
 132572: 318,
 132573: 319,
 132574: 320,
 132575: 321,
 132576: 322,
 132577: 323,
 132578: 324,
 132579: 325,
 132580: 326,
 132581: 327,
 132582: 328,
 132583: 329,
 132584: 330,
 132587: 331,
 132588: 332,
 132589: 333,
 132590: 334,
 132591: 335,
 132592: 336,
 132593: 337,
 132594: 338,
 132595: 339,
 132596: 340,
 132598: 341,
 132599: 342,
 132600: 343,
 132601: 344,
 132602: 345,
 132603: 346,
 132604: 347,
 132605: 348,
 132606: 349,
 132607: 350,
 132608: 351,
 132609: 352,
 132610: 353,
 132611: 354,
 132612: 355,
 132613: 356,
 132614: 357,
 132615: 358,
 132617: 359,
 132618: 360,
 132619: 361,
 132620: 362,
 132621: 363,
 132622: 364,
 132623: 365,
 132624: 366,
 132625: 367,
 132626: 368,
 132628: 369,
 132629: 370,
 132630: 371,
 132631: 372,
 132632: 373,
 132634: 374,
 132635: 375,
 132636: 376,
 132637: 377,
 132638: 378,
 132640: 379,
 132642: 380,
 132643: 381,
 132645: 382,
 132646: 383,
 132648: 384,
 132649: 385,
 132650: 386,
 132652: 387,
 132653: 388,
 132655: 389,
 132657: 390,
 132658: 391,
 132662: 392,
 132663: 393,
 132664: 394,
 132665: 395,
 132666: 396,
 132667: 397,
 132668: 398,
 132669: 399,
 132670: 400,
 132671: 401,
 132672: 402,
 132673: 403,
 132674: 404,
 132675: 405,
 132676: 406,
 132677: 407,
 132678: 408,
 132679: 409,
 132680: 410,
 132681: 411,
 132682: 412,
 132683: 413,
 132684: 414,
 132685: 415,
 132686: 416,
 132687: 417,
 132688: 418,
 132689: 419,
 132690: 420,
 132691: 421,
 132692: 422,
 132693: 423,
 132694: 424,
 132695: 425,
 132696: 426,
 132697: 427,
 132698: 428,
 132699: 429,
 132700: 430,
 132701: 431,
 132702: 432,
 132703: 433,
 132704: 434,
 132705: 435,
 132706: 436,
 132707: 437,
 132708: 438,
 132709: 439,
 132710: 440,
 132711: 441,
 132712: 442,
 132713: 443,
 132714: 444,
 132715: 445,
 132717: 446,
 132718: 447,
 132719: 448,
 132723: 449,
 132724: 450,
 132725: 451,
 132732: 452,
 132733: 453,
 132734: 454,
 132735: 455,
 132736: 456,
 132737: 457,
 132738: 458,
 132739: 459,
 132740: 460,
 132741: 461,
 132742: 462,
 132743: 463,
 132744: 464,
 132745: 465,
 132746: 466,
 132747: 467,
 132748: 468,
 132749: 469,
 132750: 470,
 132751: 471,
 132752: 472,
 132753: 473,
 132754: 474,
 132755: 475,
 132756: 476,
 132757: 477,
 132758: 478,
 132760: 479,
 132761: 480,
 132763: 481,
 132764: 482,
 132765: 483,
 132766: 484,
 132767: 485,
 132768: 486,
 132769: 487,
 132770: 488,
 132771: 489,
 132772: 490,
 132773: 491,
 132774: 492,
 132775: 493,
 132776: 494,
 132777: 495,
 132778: 496,
 132779: 497,
 132781: 498,
 132782: 499,
 132783: 500,
 132784: 501,
 132785: 502,
 132786: 503,
 132787: 504,
 132788: 505,
 132789: 506,
 132790: 507,
 132791: 508,
 132792: 509,
 132793: 510,
 132794: 511,
 132795: 512,
 132796: 513,
 132797: 514,
 132798: 515,
 132799: 516,
 132801: 517,
 132802: 518,
 132803: 519,
 132804: 520,
 132805: 521,
 132806: 522,
 132807: 523,
 132810: 524,
 132811: 525,
 132825: 526,
 132827: 527,
 132828: 528,
 132829: 529,
 132833: 530,
 132834: 531,
 132835: 532,
 132836: 533,
 132837: 534,
 132838: 535,
 132839: 536,
 132840: 537,
 132841: 538,
 132842: 539,
 132843: 540,
 132845: 541,
 132846: 542,
 132851: 543,
 132852: 544,
 132853: 545,
 132854: 546,
 132855: 547,
 132856: 548,
 132857: 549,
 132858: 550,
 132859: 551,
 132860: 552,
 132861: 553,
 132862: 554,
 132863: 555,
 132864: 556,
 132865: 557,
 132866: 558,
 132867: 559,
 132868: 560,
 132869: 561,
 132870: 562,
 132871: 563,
 132872: 564,
 132873: 565,
 132875: 566,
 132885: 567,
 132886: 568,
 132887: 569,
 132888: 570,
 132889: 571,
 132890: 572,
 132891: 573,
 132892: 574,
 132893: 575,
 132894: 576,
 132895: 577,
 132896: 578,
 132897: 579,
 132899: 580,
 132900: 581,
 132901: 582,
 132902: 583,
 132903: 584,
 132904: 585,
 132906: 586,
 132907: 587,
 132908: 588,
 132909: 589,
 132910: 590,
 132911: 591,
 132912: 592,
 132913: 593,
 132914: 594,
 132915: 595,
 132916: 596,
 132917: 597,
 132918: 598,
 132919: 599,
 132920: 600,
 132921: 601,
 132922: 602,
 132923: 603,
 132924: 604,
 132925: 605,
 132926: 606,
 132927: 607,
 132928: 608,
 132929: 609,
 132930: 610,
 132932: 611,
 132933: 612,
 132934: 613,
 132935: 614,
 132936: 615,
 132937: 616,
 132938: 617,
 132939: 618,
 132940: 619,
 132941: 620,
 132942: 621,
 132943: 622,
 132945: 623,
 132946: 624,
 132947: 625,
 132948: 626,
 132950: 627,
 132951: 628,
 132953: 629,
 132954: 630,
 132955: 631,
 132956: 632,
 132957: 633,
 132958: 634,
 132959: 635,
 132960: 636,
 132961: 637,
 132962: 638,
 132963: 639,
 132964: 640,
 132965: 641,
 132966: 642,
 132967: 643,
 132968: 644,
 132969: 645,
 132970: 646,
 132971: 647,
 132972: 648,
 132973: 649,
 132980: 650,
 132985: 651,
 132986: 652,
 132992: 653,
 132993: 654,
 132994: 655,
 132995: 656,
 132996: 657,
 133000: 658,
 133007: 659,
 133008: 660,
 133009: 661,
 133010: 662,
 133014: 663,
 133020: 664,
 133026: 665,
 133027: 666,
 133028: 667,
 133029: 668,
 133030: 669,
 133031: 670,
 133032: 671,
 133033: 672,
 133034: 673,
 133035: 674,
 133036: 675,
 133037: 676,
 133038: 677,
 133039: 678,
 133043: 679,
 133047: 680,
 133048: 681,
 133049: 682,
 134971: 683,
 134972: 684,
 134973: 685,
 134976: 686,
 134980: 687,
 134981: 688,
 134982: 689,
 134983: 690,
 134984: 691,
 134985: 692,
 134986: 693,
 134988: 694,
 134989: 695,
 134990: 696,
 134997: 697,
 134999: 698,
 135002: 699,
 135003: 700,
 135004: 701,
 135005: 702,
 135007: 703,
 135008: 704,
 135018: 705,
 135019: 706,
 135020: 707,
 135021: 708,
 135022: 709,
 135025: 710,
 135026: 711,
 135027: 712,
 135028: 713,
 135029: 714,
 135030: 715,
 135031: 716,
 135032: 717,
 135034: 718,
 135035: 719,
 135036: 720,
 135037: 721,
 135039: 722,
 135041: 723,
 135042: 724,
 135043: 725,
 135044: 726,
 135046: 727,
 135048: 728,
 135049: 729,
 135052: 730,
 135053: 731,
 135054: 732,
 135055: 733,
 135056: 734,
 135057: 735,
 135058: 736,
 135059: 737,
 135060: 738,
 135061: 739,
 135069: 740,
 135071: 741,
 135072: 742,
 135073: 743,
 135074: 744,
 135075: 745,
 135079: 746,
 135085: 747,
 135086: 748,
 135088: 749,
 135089: 750,
 135090: 751,
 135091: 752,
 135092: 753,
 135093: 754,
 135094: 755,
 135097: 756,
 135098: 757,
 135099: 758,
 135100: 759,
 135101: 760,
 135102: 761,
 135103: 762,
 135104: 763,
 135105: 764,
 135106: 765,
 135107: 766,
 135109: 767,
 135110: 768}

In [328]:
_long_table["user_id"] = _long_table["userID"].map(_user_id_mapping)
_long_table["item_id"] = _long_table["placeID"].map(_item_id_mapping)

In [329]:
_long_table

     userID  placeID  rating  user_id  item_id
0     U1077   135085       2       76      747
2     U1077   132825       2       76      526
3     U1077   135060       1       76      738
4     U1068   135104       1       67      763
5     U1068   132740       0       67      460
...     ...      ...     ...      ...      ...
1155  U1043   132732       1       42      452
1156  U1043   132630       1       42      371
1157  U1011   132715       1       10      445
1158  U1068   132733       1       67      453
1159  U1068   132594       1       67      338

[873 rows x 5 columns]

In [348]:
_long_table.to_csv("../data/restaurant_data_reformatted/ratings_out.csv")

In [334]:
!pip install surprise

Requirement already satisfied: surprise in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (0.1)
Requirement already satisfied: scikit-surprise in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from surprise) (1.1.1)
Requirement already satisfied: scipy>=1.0.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from scikit-surprise->surprise) (1.5.4)
Requirement already satisfied: numpy>=1.11.2 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from scikit-surprise->surprise) (1.20.0)
Requirement already satisfied: joblib>=0.11 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from scikit-surprise->surprise) (1.0.0)
Requirement already satisfied: six>=1.10.0 in /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages (from scikit-surprise->surprise) (1.15.0)

In [337]:
import numpy as np
from surprise import Dataset, Reader, SVD, accuracy, KNNBasic

ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject

In [ ]:
dataset = Dataset.load_from_df(df[['user_id', 'item_id', 'rating']], Reader(rating_scale=(0, 5)))
algo = SVD()
return cross_validate(algo, dataset, measures=['RMSE', 'MAE'], cv=cv, verbose=True)

-0.15284972228220967