In [39]:
import os
import sys
import numpy as np
import pandas as pd
from numpy import random as npr

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [40]:
SEED = 2021

USERPROFILE_DATASET_PATH = "../data/restaurant_data/userprofile.csv"
USERCUISINE_DATASET_PATH = "../data/restaurant_data/usercuisine.csv"
CHEFMOZCUISINE_DATASET_PATH = "../data/restaurant_data/chefmozcuisine.csv"
RATINGS_DATASET_PATH = "../data/restaurant_data_reformatted/ratings.csv"

## Load and transform restaurants data

Helper functions

In [41]:
def prepare_user_profile_df(df):
    df = df.drop(["latitude", "longitude"], axis=1)
    df = df.replace("?", pd.NA)
    df = df.fillna(method="bfill")
    return df


def prepare_user_cuisine_df(df):
    df.drop_duplicates()
    df = df.join(pd.get_dummies(df["Rcuisine"]))
    df = df.drop("Rcuisine", axis=1)
    df = df.groupby("userID").sum()
    return df


def load_and_clean_users_df():
    user_profile_df = pd.read_csv(USERPROFILE_DATASET_PATH)
    user_cuisine_df = pd.read_csv(USERCUISINE_DATASET_PATH)
    user_profile_df = prepare_user_profile_df(user_profile_df)
    user_cuisine_df = prepare_user_cuisine_df(user_cuisine_df)

    users_df = pd.merge(user_profile_df, user_cuisine_df, on="userID")
    return users_df


def load_and_prepare_rest_cuisine_df():
    df = pd.read_csv(CHEFMOZCUISINE_DATASET_PATH)
    df = df.drop_duplicates()
    df = df.join(pd.get_dummies(df["Rcuisine"]))
    df = df.drop("Rcuisine", axis=1)
    df = df.groupby("placeID").sum()
    return df

In [42]:
users_df = load_and_clean_users_df()
users_df

,userID,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,...,Swiss,Tapas,Tea_House,Tex-Mex,Thai,Tibetan,Tunisian,Turkish,Vegetarian,Vietnamese
0,U1001,false,abstemious,informal,family,on foot,single,independent,1989,variety,...,0,0,0,0,0,0,0,0,0,0
1,U1002,false,abstemious,informal,family,public,single,independent,1990,technology,...,0,0,0,0,0,0,0,0,0,0
2,U1003,false,social drinker,formal,family,public,single,independent,1989,none,...,0,0,0,0,0,0,0,0,0,0
3,U1004,false,abstemious,informal,family,public,single,independent,1940,variety,...,0,0,0,0,0,0,0,0,0,0
4,U1005,false,abstemious,no preference,family,public,single,independent,1992,none,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,U1134,false,casual drinker,no preference,family,public,single,independent,1991,variety,...,0,0,0,0,0,0,0,0,0,0
134,U1135,false,casual drinker,informal,family,on foot,single,kids,1988,variety,...,1,1,1,1,1,1,1,1,1,1
135,U1136,true,social drinker,no preference,friends,car owner,single,independent,1990,retro,...,0,0,0,0,0,0,0,0,0,0
136,U1137,false,social drinker,formal,family,public,single,independent,1989,eco-friendly,...,0,0,0,0,0,0,0,0,0,0
137,U1138,false,social drinker,formal,friends,public,single,independent,1991,variety,...,0,0,0,0,0,0,0,0,0,0

In [43]:
rests_df = load_and_prepare_rest_cuisine_df()
rests_df

,Afghan,African,American,Armenian,Asian,Bagels,Bakery,Bar,Bar_Pub_Brewery,Barbecue,...,Soup,Southern,Southwestern,Spanish,Steaks,Sushi,Thai,Turkish,Vegetarian,Vietnamese
placeID,,,,,,,,,,,,,,,,,,,,,
132001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135106,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135110,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [44]:
ratings_df = pd.read_csv(RATINGS_DATASET_PATH)
ratings_df

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
...     ...      ...     ...          ...             ...
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

Merge ratings dataset, users dataset, and restaurants dataset into single tablem

In [45]:
merged_df = pd.merge(ratings_df, users_df, on="userID")
merged_df = pd.merge(merged_df, rests_df, on="placeID")
merged_df

,userID,placeID,rating,food_rating,service_rating,smoker,drink_level,dress_preference,ambience,transport,...,Soup_y,Southern_y,Southwestern_y,Spanish_y,Steaks_y,Sushi_y,Thai_y,Turkish_y,Vegetarian_y,Vietnamese_y
0,U1077,135085,2,2,2,false,social drinker,elegant,family,public,...,0,0,0,0,0,0,0,0,0,0
1,U1108,135085,1,2,1,false,abstemious,informal,solitary,public,...,0,0,0,0,0,0,0,0,0,0
2,U1081,135085,1,2,1,false,casual drinker,informal,family,public,...,0,0,0,0,0,0,0,0,0,0
3,U1001,135085,0,1,1,false,abstemious,informal,family,on foot,...,0,0,0,0,0,0,0,0,0,0
4,U1056,135085,2,2,2,false,social drinker,informal,family,on foot,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,U1006,132922,2,1,2,true,social drinker,no preference,friends,car owner,...,0,0,0,0,0,0,0,0,0,0
869,U1003,132937,2,2,1,false,social drinker,formal,family,public,...,0,0,0,0,0,0,0,0,0,0
870,U1027,132937,1,1,1,true,social drinker,no preference,family,public,...,0,0,0,0,0,0,0,0,0,0
871,U1029,132937,1,1,1,true,casual drinker,formal,family,public,...,0,0,0,0,0,0,0,0,0,0
872,U1086,132937,2,0,1,false,social drinker,no preference,family,car owner,...,0,0,0,0,0,0,0,0,0,0

## Generate synthetic data

In [46]:
from sdv.tabular import GaussianCopula


def fit_syn_generator(df):
    model = GaussianCopula()
    df = df.drop(["userID", "placeID"], axis=1) # Drop ids
    df = df.astype("int64", errors="ignore") # Convert all numbers to int64
    model.fit(df.copy())
    return model

In [47]:
np.random.seed(SEED)
syn_data_generator = fit_syn_generator(merged_df)

/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/scipy/stats/_continuous_distns.py:4798: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:2407: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/copulas/univariate/truncated_gaussian.py:43: RuntimeWarning: divide by zero encountered in double_scalars
  a = (self.min - loc) / scale
/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/copulas/univariate/truncated_gaussian.py:44: RuntimeWarning: invalid value encountered in double_scalars
  b = (self.max - loc) / scale
/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/scipy/stats/_continuous_distns.py:547: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)
/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last five Jacobian evaluations.
  warnings.warn(msg, RuntimeWarning)
/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The number of calls to function has reached maxfev = 600.
  warnings.warn(msg, RuntimeWarning)
/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/copulas/univariate/truncated_gaussian.py:43: RuntimeWarning: invalid value encountered in double_scalars
  a = (self.min - loc) / scale
/Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/copulas/univariate/truncated_gaussian.py:44: RuntimeWarning: divide by zero encountered in double_scalars
  b = (self.max - loc) / scale

In [48]:
np.random.seed(SEED)
syn_merged_df = syn_data_generator.sample(10_000)
syn_merged_df.head()

,rating,food_rating,service_rating,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,...,Soup_y,Southern_y,Southwestern_y,Spanish_y,Steaks_y,Sushi_y,Thai_y,Turkish_y,Vegetarian_y,Vietnamese_y
0,1,1,1,false,social drinker,elegant,family,public,single,independent,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2,false,casual drinker,informal,family,public,single,dependent,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,false,social drinker,elegant,family,public,single,independent,...,0,0,0,0,0,0,0,0,0,0
3,1,1,2,false,social drinker,elegant,family,public,single,dependent,...,0,0,0,0,0,0,0,0,0,0
4,1,2,2,false,casual drinker,informal,family,public,single,independent,...,0,0,0,0,0,0,0,0,0,0

## Fit DeepFM model

In [49]:
import torch
from sklearn.metrics import log_loss, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from deepctr_torch.inputs import SparseFeat, DenseFeat, get_feature_names

from modules.models import DeepFmModel

In [50]:
dense_feat_names = ["height", "weight", "birth_year"]
sparse_feat_names = [
    c for c in list(syn_merged_df.columns) if c not in [
        "rating",
        "food_rating",
        "service_rating",
        "weight",
        "height",
        "birth_year"
    ]
]

In [51]:
class DeepFMDataLoader:
    def __init__(self, *, sparse_features, dense_features):
        self._sparse_feats = sparse_features
        self._dense_feats = dense_features
        
    def load(self, dataset):
        nn_input = pd.DataFrame()
        nn_input[self._sparse_feats] = dataset[self._sparse_feats]
        nn_input[self._dense_feats] = dataset[self._dense_feats]
        
        for feat in self._sparse_feats:
            encoder = LabelEncoder()
            nn_input[feat] = encoder.fit_transform(nn_input[feat])
            
        mms = MinMaxScaler(feature_range=(0,1))
        nn_input[self._dense_feats] = mms.fit_transform(nn_input[self._dense_feats])
        
        # problems may be here
        sparse_feature_columns = [
            SparseFeat(feat, vocabulary_size=nn_input[feat].nunique(), embedding_dim=4) 
            for i, feat in enumerate(self._sparse_feats)
        ]

        dense_feature_columns = [DenseFeat(feat, 1,) for feat in self._dense_feats]
        
        dnn_feat_cols = sparse_feature_columns + dense_feature_columns
        linear_feat_cols = sparse_feature_columns + dense_feature_columns
        
        feat_names = get_feature_names(linear_feat_cols + dnn_feat_cols)
        return nn_input, dnn_feat_cols, linear_feat_cols, feat_names


data_loader = DeepFMDataLoader(sparse_features=sparse_feat_names, dense_features=dense_feat_names)
nn_train_input, dnn_feats, lin_feats, feat_names = data_loader.load(syn_merged_df)

In [52]:
def _cross_join(df1, df2):
    df1["_join_key"] = 0
    df2["_join_key"] = 0
    merged_df = df1.merge(df2, on="_join_key")
    merged_df = merged_df.drop("_join_key", axis=1)
    return merged_df


def nn_prepare_data_for_rating_matrix(users_df, rests_df):
    users_df = users_df.drop("userID", axis=1)
    users_df["user_id"] = range(0, len(users_df))
    rests_df["item_id"] = range(0, len(rests_df))
    user_rest_long_table = _cross_join(users_df, rests_df)
    return user_rest_long_table
    

user_rest_long_table = nn_prepare_data_for_rating_matrix(users_df.copy(), rests_df.copy())

In [53]:
nn_user_rest_long_table, _dnn_feats, _lin_feats, _feat_names = data_loader.load(user_rest_long_table)

In [54]:
def merge_feats(feats_a, feats_b):
    assert len(feats_a) == len(feats_b)
    merged = []
    for feat_a, feat_b in zip(feats_a, feats_b):
        if isinstance(feat_a, DenseFeat):
            continue
        if feat_a.vocabulary_size >= feat_b.vocabulary_size:
            merged.append(feat_a)
        else:
            merged.append(feat_b)
    return merged


_merged_feats = merge_feats(dnn_feats, _dnn_feats)

In [55]:
def train_deepfm(feats, feat_names, x, y):
    deepfm = DeepFmModel(feats, feats, feat_names)
    train_set, test_set = train_test_split(x, test_size=0.2)
    deepfm.train(train_set, target_values=y[:len(train_set)])
    return deepfm

In [56]:
np.random.seed(SEED)

deepfm = train_deepfm(_merged_feats, feat_names, x=nn_train_input, y=syn_merged_df["rating"].values)

cpu
Train on 6400 samples, validate on 1600 samples, 25 steps per epoch
Epoch 1/10
9s - loss:  0.8544 - mse:  0.8544 - val_mse:  0.7560
Epoch 2/10
8s - loss:  0.6917 - mse:  0.6917 - val_mse:  0.7563
Epoch 3/10
7s - loss:  0.6866 - mse:  0.6866 - val_mse:  0.7568
Epoch 4/10
7s - loss:  0.6882 - mse:  0.6882 - val_mse:  0.7580
Epoch 5/10
11s - loss:  0.6844 - mse:  0.6844 - val_mse:  0.7605
Epoch 6/10
10s - loss:  0.6843 - mse:  0.6843 - val_mse:  0.7656
Epoch 7/10
8s - loss:  0.6831 - mse:  0.6831 - val_mse:  0.7592
Epoch 8/10
9s - loss:  0.6807 - mse:  0.6807 - val_mse:  0.7629
Epoch 9/10
8s - loss:  0.6819 - mse:  0.6819 - val_mse:  0.7614
Epoch 10/10
7s - loss:  0.6808 - mse:  0.6808 - val_mse:  0.7623

In [57]:
np.random.seed(SEED)

class NNModelWrapper:
    def __init__(self, trained_nn):
        self._nn = trained_nn

    def predict_rating_matrix(self, nn_input, merged_df):
        y = self._nn.predict(nn_input)
        result = pd.DataFrame()
        result["rating"] = y.reshape((len(y),))
        result["user_id"] = merged_df["user_id"]
        result["item_id"] = merged_df["item_id"]
        output_matrix = result.pivot(index="user_id", columns="item_id", values="rating")
        return output_matrix

model_wrapper = NNModelWrapper(deepfm)
deepfm_rating_matrix = model_wrapper.predict_rating_matrix(nn_user_rest_long_table, user_rest_long_table)
deepfm_rating_matrix

item_id,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
user_id,,,,,,,,,,,,,,,,,,,,,
0,1.359418,1.409055,1.429519,1.409055,1.400598,1.359418,1.360261,1.429519,1.429519,1.351651,...,1.444863,1.444863,1.437241,1.285995,1.453349,1.283507,1.453349,1.360478,1.394664,1.360211
1,1.476742,1.528429,1.549968,1.528429,1.519747,1.476742,1.477667,1.549968,1.549968,1.468826,...,1.565328,1.565328,1.557575,1.399805,1.574050,1.397049,1.574050,1.477902,1.513446,1.477610
2,1.695808,1.751140,1.774545,1.751140,1.742068,1.695808,1.696861,1.774545,1.774545,1.687616,...,1.789855,1.789855,1.781860,1.612639,1.798987,1.609455,1.798987,1.697131,1.735044,1.696792
3,1.638222,1.691971,1.714499,1.691971,1.683081,1.638222,1.639194,1.714499,1.714499,1.630136,...,1.729718,1.729718,1.721817,1.557782,1.738661,1.554857,1.738661,1.639451,1.676271,1.639129
4,1.342126,1.391729,1.412158,1.391729,1.383280,1.342126,1.342961,1.412158,1.412158,1.334358,...,1.427491,1.427491,1.419868,1.268767,1.435971,1.266302,1.435971,1.343178,1.377324,1.342911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,1.527310,1.579746,1.601584,1.579746,1.571000,1.527310,1.528230,1.601584,1.601584,1.519320,...,1.616881,1.616881,1.609064,1.449122,1.625673,1.446370,1.625673,1.528475,1.564424,1.528169
134,0.705029,0.738766,0.751377,0.738766,0.731960,0.705029,0.705415,0.751377,0.751377,0.698516,...,0.766621,0.766621,0.760094,0.658724,0.773361,0.657810,0.773361,0.705473,0.729579,0.705426
135,1.677848,1.732594,1.755774,1.732594,1.723570,1.677848,1.678908,1.755774,1.755774,1.669714,...,1.771066,1.771066,1.763122,1.595652,1.780143,1.592456,1.780143,1.679169,1.716775,1.678841
136,1.746586,1.802333,1.825976,1.802333,1.793211,1.746586,1.747663,1.825976,1.825976,1.738367,...,1.841286,1.841286,1.833268,1.662697,1.850469,1.659436,1.850469,1.747935,1.786145,1.747592
137,1.431600,1.483080,1.504551,1.483080,1.474413,1.431600,1.432532,1.504551,1.504551,1.423707,...,1.519933,1.519933,1.512199,1.355004,1.528637,1.352231,1.528637,1.432764,1.468210,1.432477

In [58]:
deepfm_rating_matrix = np.around(deepfm_rating_matrix)
deepfm_rating_matrix

item_id,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
user_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.0,...,2.0,2.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0
2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0
134,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
135,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
136,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
137,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,2.0,2.0,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0

In [59]:
def make_deepfm_rating_matrix(syn_df, users_df, rests_df):
    dense_feat_names = ["height", "weight", "birth_year"]
    sparse_feat_names = [
        c for c in list(syn_df.columns) if c not in [
            "rating",
            "food_rating",
            "service_rating",
            "weight",
            "height",
            "birth_year"
        ]
    ]

    data_loader = DeepFMDataLoader(sparse_features=sparse_feat_names, dense_features=dense_feat_names)
    nn_train_input, dnn_feats, lin_feats, feat_names = data_loader.load(syn_df)
    user_rest_long_table = nn_prepare_data_for_rating_matrix(users_df.copy(), rests_df.copy())
    
    nn_user_rest_long_table, _dnn_feats, _lin_feats, _feat_names = data_loader.load(user_rest_long_table)
    _merged_feats = merge_feats(dnn_feats, _dnn_feats)
    deepfm = train_deepfm(_merged_feats, feat_names, x=nn_train_input, y=syn_df["rating"].values)

    model_wrapper = NNModelWrapper(deepfm)
    deepfm_rating_matrix = model_wrapper.predict_rating_matrix(nn_user_rest_long_table, user_rest_long_table)
    return deepfm_rating_matrix

In [60]:
np.random.seed(SEED)
_mtx = make_deepfm_rating_matrix(syn_merged_df, users_df, rests_df)

cpu
Train on 6400 samples, validate on 1600 samples, 25 steps per epoch
Epoch 1/10
8s - loss:  0.8544 - mse:  0.8544 - val_mse:  0.7560
Epoch 2/10
8s - loss:  0.6917 - mse:  0.6917 - val_mse:  0.7563
Epoch 3/10
8s - loss:  0.6866 - mse:  0.6866 - val_mse:  0.7568
Epoch 4/10
8s - loss:  0.6882 - mse:  0.6882 - val_mse:  0.7580
Epoch 5/10
8s - loss:  0.6844 - mse:  0.6844 - val_mse:  0.7605
Epoch 6/10
7s - loss:  0.6843 - mse:  0.6843 - val_mse:  0.7656
Epoch 7/10
7s - loss:  0.6831 - mse:  0.6831 - val_mse:  0.7592
Epoch 8/10
7s - loss:  0.6807 - mse:  0.6807 - val_mse:  0.7629
Epoch 9/10
8s - loss:  0.6819 - mse:  0.6819 - val_mse:  0.7614
Epoch 10/10
7s - loss:  0.6808 - mse:  0.6808 - val_mse:  0.7623

## Make similarity matrix

Creating a similarity matrix between users and restaurants based on users' food preference and restaurants' cuisines.

In [61]:
from sklearn.metrics.pairwise import cosine_similarity


def make_similarity_matrix(users_df, rests_df):
    users_food_pref_df = users_df[rests_df.columns]
    return cosine_similarity(users_food_pref_df, rests_df)

In [62]:
sim_matrix = make_similarity_matrix(users_df, rests_df)
sim_matrix = sim_matrix * 2 # Rating is in range [0, 2]
sim_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## Experiments

In [63]:
import os
import sys
import importlib
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from modules import models, evaluator, trainers, utils
importlib.reload(models)
importlib.reload(evaluator)
importlib.reload(trainers)

In [64]:
class ResponseFunction:
    def __init__(self, heu_matrix, nn_matrix, noise_matrix):
        assert heu_matrix.shape == nn_matrix.shape
        self._heu_matrix = heu_matrix
        self._nn_matrix = nn_matrix
        self._noise_matrix = noise_matrix
        
    def __call__(self, a1: float, a2: float):
        a3 = max(0.0, 1 - a1 - a2)
        return (
            a1 * self._heu_matrix
            + a2 * self._nn_matrix
            + a3 * npr.normal(0, 1, size=self._heu_matrix.shape)
        )

In [ ]:
_resp_fn_config = evaluator.ResponseFunctionConfig(
    factory=ResponseFunction,
    args=[sim_matrix, deepfm_rating_matrix, npr.normal(0, 1, size=sim_matrix.shape)]
)

_evaluators = [
    evaluator.TrainTestExecutorConfig(
        factory=trainers.AutoRecTrainTestExecutor,
        args={"config": {"epoch": 50}},
        model_name="autorec"
    ),
    evaluator.TrainTestExecutorConfig(
        factory=trainers.SvdTrainTestExecutor,
        args={},
        model_name="svd"
    ),
    evaluator.TrainTestExecutorConfig(
        factory=trainers.KnnTrainTestExecutor,
        args={},
        model_name="knn"
    )
]

np.random.seed(SEED)
_evaluator = evaluator.Evaluator(_resp_fn_config, n_proc=4)
_res = _evaluator.evaluate(
    _evaluators, 
    a_sample_rate=3,
    test_size=0.1, 
    sample_sizes=[0.1]
)

Subprocess started.
Subprocess started.
Subprocess started.
Load data finished. Number of users: 138 Number of items: 769
Load data finished. Number of users: 138 Number of items: 769
Load data finished. Number of users: 138 Number of items: 769
IAutoRec.IAutoRec.IAutoRec.


WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:1666: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:1666: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:1666: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:1666: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:1666: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/.venv/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:1666: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/modules/models.py:54: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/modules/models.py:54: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/modules/models.py:54: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/modules/models.py:54: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/modules/models.py:54: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /Users/vldpro/Workspace/university/recsys/modules/models.py:54: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

Epoch: 0000; Epoch: 0000; Epoch: 0000; RMSE:0.7191212250166875; MAE:0.5704763710572504
RMSE:1.0349645666499936; MAE:0.8232820870737657RMSE:0.6317349215743885; MAE:0.48713349284780294

Epoch: 0003; Epoch: 0003; Epoch: 0003; RMSE:0.7383086277303282; MAE:0.5888399548544982
RMSE:1.0169446820947827; MAE:0.807503446857055
RMSE:0.6502273345719204; MAE:0.5431996288543961
Epoch: 0006; Epoch: 0006; Epoch: 0006; RMSE:0.7229238962107192; MAE:0.5774573034474599
RMSE:0.6297215928518438; MAE:0.5074209298666841RMSE:1.0209053502142658; MAE:0.8076131221236997

Epoch: 0009; Epoch: 0009; Epoch: 0009; RMSE:0.7200452681182796; MAE:0.5728463742360629
Epoch: 0012; RMSE:1.0198047374141688; MAE:0.8115425196472774RMSE:0.6194329451685662; MAE:0.48276681504727315

Epoch: 0012; Epoch: 0012; RMSE:0.7224515863799681; MAE:0.5737772808518883
Epoch: 0015; RMSE:0.6174692401202949; MAE:0.4843420695569124RMSE:1.014659102053104; MAE:0.8075056527094251

Epoch: 0015; Epoch: 0015; RMSE:0.7197259327857891; MAE:0.572667947646229
RMSE:1.018816104291239; MAE:0.8079292116317869RMSE:0.6111153554106601; MAE:0.49093264415123555

Epoch: 0018; Epoch: 0018; Epoch: 0018; RMSE:0.7194346500293588; MAE:0.5727584100622989
RMSE:1.0201253363944056; MAE:0.8087373980080285
RMSE:0.612993398672738; MAE:0.4969393318537798Epoch: 0021;
Epoch: 0021; Epoch: 0021; RMSE:0.7212088424824804; MAE:0.5747824919781844
RMSE:0.61077903215996; MAE:0.4920780339635883
RMSE:1.0144867124217158; MAE:0.8060621077572497
Epoch: 0024; Epoch: 0024; Epoch: 0024; RMSE:0.7196655453672723; MAE:0.5728686415897926
RMSE:1.0155326386310974; MAE:0.8070153189250694
RMSE:0.6042130444647803; MAE:0.48416538847059204
Epoch: 0027; Epoch: 0027; Epoch: 0027; RMSE:0.7181198052846115; MAE:0.5702536226763518
RMSE:0.599933374042839; MAE:0.47767309404347913Epoch: 0030; RMSE:1.01971771004127; MAE:0.8092774557276513

Epoch: 0030; Epoch: 0030; RMSE:0.7184844319147973; MAE:0.5716920948139537
RMSE:1.0170487441408353; MAE:0.807524782561953
RMSE:0.5966840479026682; MAE:0.4768833219431156
Epoch: 0033; Epoch: 0033; Epoch: 0033; RMSE:1.0146971906601043; MAE:0.8055471572566087
RMSE:0.7187947148328159; MAE:0.5725927073797626
RMSE:0.5930584970896178; MAE:0.4772435646028741
Epoch: 0036; Epoch: 0036; Epoch: 0036; RMSE:1.0177466579834584; MAE:0.8079537481574205
RMSE:0.7175930614978335; MAE:0.5707296977761289
Epoch: 0039; Epoch: 0039; RMSE:0.5874207922523459; MAE:0.4734252952783541
Epoch: 0039; RMSE:0.7175486507069507; MAE:0.570245393025026RMSE:1.0176442023841363; MAE:0.8082026474027838

Epoch: 0042; Epoch: 0042; RMSE:0.5799109870823693; MAE:0.46428841059360465
Epoch: 0042; RMSE:0.718045665232262; MAE:0.5714086828173419
RMSE:1.016182603812382; MAE:0.8066863515632247
Epoch: 0045; Epoch: 0045; RMSE:0.5707462104655995; MAE:0.45516282043026624
Epoch: 0045; RMSE:0.7166774902655834; MAE:0.5704492491282837
RMSE:1.0172751514618747; MAE:0.8072452101743829
Epoch: 0048; RMSE:0.5607927682217477; MAE:0.4483072007703973
Epoch: 0048; Epoch: 0048; RMSE:0.7160920299738749; MAE:0.5692642095153201
RMSE:1.0171773990747033; MAE:0.8073767982366415
RMSE:0.5497745929941882; MAE:0.4392287223159163
Load data finished. Number of users: 138 Number of items: 769
Load data finished. Number of users: 138 Number of items: 769
IAutoRec.
IAutoRec.Load data finished. Number of users:
138 Number of items: 769
IAutoRec.
Epoch: 0000; Epoch: 0000; RMSE:0.7351070138466407; MAE:0.5949859705155395
Epoch: 0003; Epoch: 0000; RMSE:0.6317162344032113; MAE:0.48726154775860714
Epoch: 0003; RMSE:0.7399895724299899; MAE:0.5993976777572027
Epoch: 0006; RMSE:1.024103958708668; MAE:0.8222248321524064
Epoch: 0003; RMSE:0.653152331115437; MAE:0.5410184736160899
RMSE:0.7299827654276748; MAE:0.5890179817661095Epoch: 0006;
Epoch: 0009; RMSE:1.0029177427374347; MAE:0.809123588431802
RMSE:0.6375856155322364; MAE:0.5150938266973099Epoch: 0006;
Epoch: 0009; RMSE:0.726698648086061; MAE:0.5883708803112161
Epoch: 0012; RMSE:1.0026761331974892; MAE:0.8093467214469693
RMSE:0.6164782974216; MAE:0.4840376865861726
Epoch: 0009; Epoch: 0012; RMSE:0.7256248635271739; MAE:0.5880634492860364
RMSE:1.0052292030129688; MAE:0.809844137098357
RMSE:0.6101666706372119; MAE:0.47712783652150575
Epoch: 0015; Epoch: 0012; Epoch: 0015; RMSE:1.002081391149469; MAE:0.8074620900911262RMSE:0.728498597274802; MAE:0.5885532924685352RMSE:0.6066105515412366; MAE:0.48726354065726657


Epoch: 0018; Epoch: 0015; Epoch: 0018; RMSE:0.7287226839176114; MAE:0.5892174132464029
RMSE:0.6120240719415748; MAE:0.497009812278803RMSE:1.003105694371075; MAE:0.8092936000473938

Epoch: 0021; Epoch: 0021; Epoch: 0018; RMSE:0.7243910078802682; MAE:0.5872845308675774
RMSE:1.0040824082192685; MAE:0.8094427645196608
RMSE:0.6108954366217669; MAE:0.4920239819643713
Epoch: 0024; Epoch: 0021; Epoch: 0024; RMSE:0.7234132862612328; MAE:0.5859645914974588
RMSE:1.0008634644603347; MAE:0.807023443628185
RMSE:0.603307011919474; MAE:0.4822764782497048
Epoch: 0027; Epoch: 0024; Epoch: 0027; RMSE:1.0011135691606747; MAE:0.8079999192762071RMSE:0.725470971007604; MAE:0.5865993175066285RMSE:0.5971737853792061; MAE:0.4771881723594811


Epoch: 0027; Epoch: 0030; Epoch: 0030; RMSE:1.0028835663511; MAE:0.8086321522726532
RMSE:0.593903061882411; MAE:0.47605584728178496
RMSE:0.7257889363789104; MAE:0.5872326044388038
Epoch: 0030; Epoch: 0033; Epoch: 0033; RMSE:1.0015512011218834; MAE:0.8073763912363756RMSE:0.5918967984981329; MAE:0.4769311472030799

RMSE:0.7246145281503868; MAE:0.5867252362852287
Epoch: 0033; Epoch: 0036; Epoch: 0036; RMSE:1.0014830932644576; MAE:0.8077339385806955
RMSE:0.5873025710068737; MAE:0.47327171551116143
RMSE:0.7238674815358049; MAE:0.586238682860732
Epoch: 0039; Epoch: 0036; Epoch: 0039; RMSE:1.002321859367754; MAE:0.8082642978977461
RMSE:0.723688415561215; MAE:0.5857057483273708
Epoch: 0039; RMSE:0.5804453009711452; MAE:0.46537355379472833
Epoch: 0042; Epoch: 0042; RMSE:1.0013170863171459; MAE:0.807735320656004
RMSE:0.7235035673483398; MAE:0.5857663901123228
RMSE:0.5733408670373814; MAE:0.4592701084476865Epoch: 0042;
Epoch: 0045; Epoch: 0045; RMSE:1.001084619634395; MAE:0.8074787649210098
RMSE:0.7241256334596199; MAE:0.5861008630183872
Epoch: 0045; RMSE:0.5646054253289311; MAE:0.45306981845273686
Epoch: 0048; Epoch: 0048; RMSE:1.0020778565268513; MAE:0.8079972648773188
RMSE:0.5536221691612405; MAE:0.44443827707754247RMSE:0.7233331492874261; MAE:0.5858111146593655Epoch: 0048;

RMSE:1.001847977390743; MAE:0.8081225216515574Load data finished. Number of users:
 138 Load data finished. Number of users:Number of items:  138769 Number of items:
 769IAutoRec.

IAutoRec.
Load data finished. Number of users: 138 Number of items: 769
IAutoRec.
Epoch: 0000; Epoch: 0000; Epoch: 0000; RMSE:0.7313855841630374; MAE:0.5834860260769577RMSE:0.6211611959276344; MAE:0.4816396592801914

RMSE:1.00750567116783; MAE:0.7969691307018472
Epoch: 0003; Epoch: 0003; Epoch: 0003; RMSE:0.7299536831458603; MAE:0.5800849857553382
RMSE:0.6390244805207069; MAE:0.5340058437940873
RMSE:1.0095736207896737; MAE:0.8043324273993776
Epoch: 0006; Epoch: 0006; Epoch: 0006; RMSE:0.6134668750905183; MAE:0.49818629270000053
RMSE:0.9935389229294227; MAE:0.7877967460788521RMSE:0.7167203785864062; MAE:0.5697462461795862

Epoch: 0009; Epoch: 0009; Epoch: 0009; RMSE:0.7202354685855069; MAE:0.5734634032292543RMSE:0.6019722035196954; MAE:0.4722990479311063

RMSE:1.0006379388618214; MAE:0.7949405583156433
Epoch: 0012; Epoch: 0012; Epoch: 0012; RMSE:0.599806539681836; MAE:0.4714559683024437
RMSE:0.7221389775029048; MAE:0.5731305519271006
RMSE:1.0028280348076102; MAE:0.7979514996238233
Epoch: 0015; Epoch: 0015; Epoch: 0015; RMSE:0.5962941218746203; MAE:0.4804405308816363
Epoch: 0018; RMSE:0.9986607779953436; MAE:0.7924878637881675RMSE:0.7191143799939447; MAE:0.571759640743779

Epoch: 0018; Epoch: 0018; RMSE:0.5944459675668915; MAE:0.48495028015829755
RMSE:0.7159052488940291; MAE:0.5703577611116941Epoch: 0021;
RMSE:0.9987010591326566; MAE:0.7922057284867073
Epoch: 0021; Epoch: 0021; RMSE:0.5915533510877432; MAE:0.4783415981402
RMSE:0.9978690943086864; MAE:0.7922804364934783
Epoch: 0024; Epoch: 0024; RMSE:0.7162072100302829; MAE:0.5691144676833102
Epoch: 0024; RMSE:0.9987192345387832; MAE:0.7933197060254739RMSE:0.5886938137142792; MAE:0.4729996327374059

RMSE:0.7183676724001044; MAE:0.5704305643659253
Epoch: 0027; Epoch: 0027; Epoch: 0027; RMSE:0.5836547815605652; MAE:0.47019455994999004
RMSE:0.9991541559423226; MAE:0.7928300356441336
RMSE:0.7168083762047531; MAE:0.5703768365105664
Epoch: 0030; Epoch: 0030; Epoch: 0030; RMSE:0.9980644220228051; MAE:0.7917513269835321
RMSE:0.5778453196385012; MAE:0.46638510746420686
RMSE:0.7150791565659087; MAE:0.5688693521756601
Epoch: 0033; Epoch: 0033; Epoch: 0033; RMSE:0.5728920822506612; MAE:0.4628928986785957RMSE:0.9975628988936401; MAE:0.7917395713897005

RMSE:0.715533247975037; MAE:0.5690005014549664
Epoch: 0036; Epoch: 0036; Epoch: 0036; RMSE:0.9982970926464386; MAE:0.7922914378920675
RMSE:0.7156076691294765; MAE:0.5688101324602151
RMSE:0.568459418574932; MAE:0.4593389667256704
Epoch: 0039; Epoch: 0039; Epoch: 0039; RMSE:0.9982828450622265; MAE:0.7918395710988877RMSE:0.7144241787644194; MAE:0.5678766844384154RMSE:0.562597410648826; MAE:0.4540872212782501


Epoch: 0042; Epoch: 0042; Epoch: 0042; RMSE:0.9974978713401289; MAE:0.7911074394267952RMSE:0.5529318010008517; MAE:0.4458716702881182

RMSE:0.7141240091224698; MAE:0.5682329596564062
Epoch: 0045; Epoch: 0045; Epoch: 0045; RMSE:0.9980019334404905; MAE:0.791755928103056
RMSE:0.540602301617094; MAE:0.43543130266266494RMSE:0.7135613815497616; MAE:0.5673876352587571

Epoch: 0048; Epoch: 0048; Epoch: 0048; RMSE:0.9984331691649894; MAE:0.7916118302408442
RMSE:0.5292318928280284; MAE:0.42516128086986066RMSE:0.7125205492644451; MAE:0.5663051525277908

Load data finished. Number of users: 138 Number of items:Load data finished. Number of users:  769138
 Load data finished. Number of users:Number of items:  IAutoRec.138769

Number of items: IAutoRec.769

IAutoRec.
Epoch: 0000; Epoch: 0000; Epoch: 0000; RMSE:0.706142223398611; MAE:0.5613064907113431
Epoch: 0003; RMSE:0.6227745433253227; MAE:0.48282420373869905
RMSE:1.0042346758087606; MAE:0.8109218191680864RMSE:0.712894927520626; MAE:0.570190172526152

Epoch: 0003; Epoch: 0006; Epoch: 0003; RMSE:0.6188259082390594; MAE:0.509364641688193
RMSE:0.6967053421769914; MAE:0.5537332781939489RMSE:1.0053867519275455; MAE:0.8106088759884534

Epoch: 0006; Epoch: 0006; Epoch: 0009; RMSE:0.9948570026403752; MAE:0.8010000565863283RMSE:0.7005525837166773; MAE:0.5571392538089843

RMSE:0.6122193011748254; MAE:0.4901083247045942
Epoch: 0012; Epoch: 0009; Epoch: 0009; RMSE:0.7009767405502293; MAE:0.5587426128849474
RMSE:0.5999343338652634; MAE:0.46935687810017507
RMSE:0.9944400639131248; MAE:0.8028615203894899Epoch: 0015;
Epoch: 0012; Epoch: 0012; RMSE:0.696385714046873; MAE:0.5546222523365009
RMSE:0.5924907850673757; MAE:0.4646034651872832
Epoch: 0018; RMSE:0.9955408108858346; MAE:0.803104736430943
Epoch: 0015; Epoch: 0015; RMSE:0.6956962887876547; MAE:0.5534227389265479
RMSE:0.9984434870376764; MAE:0.8046615208913588RMSE:0.5880524153631714; MAE:0.470392704386421

Epoch: 0021; Epoch: 0018; Epoch: 0018; RMSE:0.9967157984320474; MAE:0.8040590145274751RMSE:0.6978545750106542; MAE:0.5555861717834542

RMSE:0.5887855355368053; MAE:0.47536277248718856
Epoch: 0021; Epoch: 0024; Epoch: 0021; RMSE:0.9923338470831029; MAE:0.8002276354397705
RMSE:0.6982090977919735; MAE:0.5553040628568827RMSE:0.5857131972597321; MAE:0.46848446247362674

Epoch: 0027; Epoch: 0024; Epoch: 0024; RMSE:0.5807103290081067; MAE:0.46171309418205014
RMSE:0.9942815292227937; MAE:0.8016751385332129
RMSE:0.6948747747297934; MAE:0.5528406409513218
Epoch: 0027; Epoch: 0027; Epoch: 0030; RMSE:0.5770284111982251; MAE:0.46034892319148624
RMSE:0.9970862258144235; MAE:0.8044812082523933
Epoch: 0030; Epoch: 0030; RMSE:0.6945614469326921; MAE:0.5535598193442358
Epoch: 0033; RMSE:0.574211172166129; MAE:0.4593477992593702
RMSE:0.994539931624557; MAE:0.8015896394425805
Epoch: 0033; Epoch: 0033; RMSE:0.6967684749809285; MAE:0.5546500185434043
Epoch: 0036; RMSE:0.5691070762701546; MAE:0.45535543414314533RMSE:0.993710981401744; MAE:0.8013034549770237

Epoch: 0036; Epoch: 0036; RMSE:0.6958362338732145; MAE:0.5532069153269852
RMSE:0.5638016398915041; MAE:0.450737676014036RMSE:0.9954519536765359; MAE:0.8032928742313735

Epoch: 0039; Epoch: 0039; Epoch: 0039; RMSE:0.6948999301902682; MAE:0.5531281262563008
RMSE:0.5587492709905225; MAE:0.4462583588717292RMSE:0.9946002305240239; MAE:0.8020182878934821

Epoch: 0042; Epoch: 0042; Epoch: 0042; RMSE:0.9942898983276832; MAE:0.801593754604275
RMSE:0.6952336563197746; MAE:0.5536672042667815
RMSE:0.5509097321539399; MAE:0.4394090023168087
Epoch: 0045; Epoch: 0045; Epoch: 0045; RMSE:0.6944828418699172; MAE:0.5527037531851373
RMSE:0.9950959744139477; MAE:0.8028845356003662
RMSE:0.541101806527781; MAE:0.4307368531735722
Epoch: 0048; Epoch: 0048; Epoch: 0048; RMSE:0.9946771569092092; MAE:0.8022126270617349
RMSE:0.5313374172693865; MAE:0.42258146639195654
RMSE:0.6946500000140221; MAE:0.5528741106145793
Load data finished. Number of users:Load data finished. Number of users:

In [ ]:
_res

In [ ]:
error_surface = utils.group_points_by_minimum_error(_res)
error_surface

In [ ]:
from modules import utils
importlib.reload(utils)

import plotly.express as px

for ss in [0.1]:
    fig = px.scatter_3d(
        error_surface[error_surface["sample_size"] == ss], 
        x='a1', 
        y='a2', 
        z='rmse',
        size="rmse",
        size_max=18, 
        opacity=1,
        color="model_name",
        color_continuous_scale=px.colors.sequential.thermal[::-1]
    )

    fig.update_layout(
        margin=dict(l=20, r=20, t=20, b=20),
    )

    fig.show("notebook")

In [ ]:
viz = error_surface.rename(columns={"a1": "α1", "a2": "α2", "rmse": "RMSE", "model_name": "Model"})


colormap = {
    "knn": "yellow",
    "svd": "blue",
    "autorec": "red"
}

viz["color"] = viz["Model"].apply(lambda x: colormap[x])

In [ ]:
viz

In [ ]:
from plotly import graph_objects as go

for sample_size in [0.1, 0.2, 0.4, 0.6, 0.8, 1.0]:
    _exp_data = viz[viz["sample_size"] == sample_size]
    fig = go.Figure(
        layout=go.Layout(
            height=600,
            width=800,
            font=dict(size=16),
            title=dict(
                text=f"Model RMSE depending on α1 and α2 values. \n{sample_size}"
            ),
            margin=dict(l=20, r=20, t=20, b=20),
            scene=dict(
                xaxis = dict(title="α1"),
                yaxis = dict(title="α2"),
                zaxis = dict(title="RMSE")
            ),
            scene_camera=dict(
                up=dict(x=0, y=0, z=1),
                center=dict(x=0, y=0, z=0),
                eye=dict(x=1.2, y=1.8, z=1.0)
            )
        ),
        data=[
            go.Scatter3d(
                name=model_name,
                x=_exp_data[_exp_data["Model"] == model_name]["α1"],
                y=_exp_data[_exp_data["Model"] == model_name]["α2"],
                z=_exp_data[_exp_data["Model"] == model_name]["RMSE"],
                mode="markers",
                marker=dict(
                    size=6,
                    color=colormap[model_name],
                    line=dict(width=1, color='DarkSlateGrey')
                )
            ) for model_name in ["autorec", "svd", "knn"]
        ]
    )

    fig.show("notebook")

In [ ]:
    go.Scatter3d(
        x=model_data["a1"],
        y=model_data["a2"],
        z=model_data["rmse"], 
        mode="markers",
        marker=dict(
            size=4,
            color=colormap[model],
            line=dict(width=2, color='DarkSlateGrey')),
        name="thing"
    )